body {
  margin: 0;
}

.nimbus_update {
  font-family: serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title,
  &__description,
  &__progress {
    font-size: 16px;
    margin-top: 14px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    padding: 20px 20px;
    margin: 20px 0 0;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  &__buttons_center {
    justify-content: space-around;
  }
}
