.attach_single_name a {
  cursor: pointer; }

/* broken image */
.nimbus_note_styled .note-text-editor img {
  position: relative; }

.nimbus_note_styled .note-text-editor img:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: #FFFFFF;
  z-index: 5;
  pointer-events: none; }

.nimbus_note_styled .note-text-editor img:after {
  content: " ";
  animation: nimbus_loader 1250ms infinite linear;
  -webkit-animation: nimbus_loader 1250ms infinite linear;
  border: 4px solid #19a1b9;
  border-right-color: #c2c2c2;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  z-index: 6;
  pointer-events: none;
  cursor: initial;
  background: #FFFFFF; }

.settings_profile_clear {
  text-align: right; }

.settings_profile_clear > span {
  font-size: 14px;
  color: #909090; }

div.resize_handler {
  width: 5px; }
