.nimbus_payment {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  font-weight: normal;
  cursor: default; }
  .nimbus_payment__title {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
    padding: 25px 0 10px;
    font-size: 40px; }
  .nimbus_payment__features {
    margin: 0 auto;
    width: 700px; }
  .nimbus_payment__list {
    list-style: none; }
    .nimbus_payment__list__item {
      margin: 10px 0 23px; }
      .nimbus_payment__list__item:before {
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url("/custom/static/assets/images/sign.png");
        background-size: 45px 38px;
        width: 45px;
        height: 38px; }
      .nimbus_payment__list__item__title {
        font-size: 18px;
        color: #f5f5f5;
        padding: 8px 10px 0 70px;
        margin-bottom: 2px; }
      .nimbus_payment__list__item__description {
        font-size: 15px;
        line-height: 22px;
        color: #C4C4C4;
        padding: 0 10px 0 70px;
        max-width: 700px; }
        .nimbus_payment__list__item__description a, .nimbus_payment__list__item__description a:hover, .nimbus_payment__list__item__description a:active, .nimbus_payment__list__item__description a:visited {
          color: #FFFFFF; }
  .nimbus_payment__purchase_items {
    text-align: center;
    color: #ffffff;
    margin: 35px 0 0;
    min-height: 72px; }
    .nimbus_payment__purchase_items__or {
      color: #C4C4C4;
      width: 100px;
      text-align: center;
      display: inline;
      padding: 0 12px;
      font-size: 14px; }
      .nimbus_payment__purchase_items__or span {
        padding-top: 12px;
        display: inline-block; }
    .nimbus_payment__purchase_items__item {
      margin: 0 auto;
      display: inline-block;
      vertical-align: top; }
    .nimbus_payment__purchase_items__button {
      background-color: #0597AD;
      border-radius: 22px;
      padding: 13px 8px;
      display: inline-block;
      width: 152px;
      cursor: pointer;
      font-size: 17px; }
    .nimbus_payment__purchase_items__discount {
      font-size: 12px;
      padding-top: 12px; }
  .nimbus_payment__restore_block {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 19px; }
    .nimbus_payment__restore_block__button {
      display: none; }
      .nimbus_payment__restore_block__button span {
        color: #fbfbfb;
        border: 1px solid #4a4a4a;
        border-radius: 18px;
        padding: 4px 27px;
        font-size: 14px;
        cursor: pointer; }
        .nimbus_payment__restore_block__button span:hover {
          background-color: rgba(255, 255, 255, 0.1); }
  .nimbus_payment__purchase_terms_and_privacy {
    font-size: 12px;
    line-height: 22px;
    color: #c4c4c4;
    max-width: 825px;
    margin: 0 auto;
    padding: 5px 0 5px 25px; }
    .nimbus_payment__purchase_terms_and_privacy a, .nimbus_payment__purchase_terms_and_privacy a:visited, .nimbus_payment__purchase_terms_and_privacy a:hover {
      color: #c4c4c4; }
  .nimbus_payment__close {
    text-align: center;
    margin-top: 10px;
    color: #c4c4c4; }
    .nimbus_payment__close span {
      cursor: pointer;
      font-size: 14px; }
      .nimbus_payment__close span span {
        font-size: 13px; }
    .nimbus_payment__close span:hover {
      color: white; }
