.nimbus_payment {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  font-weight: normal;
  cursor: default;

  &__title {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
    padding: 25px 0 10px;
    font-size: 40px;
  }

  &__features {
    margin: 0 auto;
    width: 700px;
  }

  &__list {
    list-style: none;

    &__item {
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url('/custom/static/assets/images/sign.png');
        background-size: 45px 38px;
        width: 45px;
        height: 38px;
      }
      margin: 10px 0 23px;

      &__title {
        font-size: 18px;
        color: #f5f5f5;
        padding: 8px 10px 0 70px;
        margin-bottom: 2px;
      }

      &__description {
        font-size: 15px;
        line-height: 22px;
        color: #C4C4C4;
        padding: 0 10px 0 70px;
        max-width: 700px;

        a, a:hover, a:active, a:visited {
          color: #FFFFFF;
        }
      }
    }
  }

  &__purchase_items {
    text-align: center;
    color: #ffffff;
    margin: 35px 0 0;
    min-height: 72px;

    &__or {
      color: #C4C4C4;
      width: 100px;
      text-align: center;
      display: inline;
      padding: 0 12px;
      font-size: 14px;

      span {
        padding-top: 12px;
        display: inline-block;
      }
    }

    &__item {
      margin: 0 auto;
      display: inline-block;
      vertical-align: top;
    }

    &__button {
      background-color: #0597AD;
      border-radius: 22px;
      padding: 13px 8px;
      display: inline-block;
      width: 152px;
      cursor: pointer;
      font-size: 17px;
    }

    &__discount {
      font-size: 12px;
      padding-top: 12px;
    }
  }

  &__restore_block {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 19px;

    &__button {
      display: none;

      span {
        color: #fbfbfb;
        border: 1px solid #4a4a4a;
        border-radius: 18px;
        padding: 4px 27px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  &__purchase_terms_and_privacy {
    font-size: 12px;
    line-height: 22px;
    color: rgb(196, 196, 196);
    max-width: 825px;
    margin: 0 auto;
    padding: 5px 0 5px 25px;

    a, a:visited, a:hover {
      color: rgb(196, 196, 196);
    }
  }

  &__close {
    text-align: center;
    margin-top: 10px;
    color: rgb(196, 196, 196);

    span {
      cursor: pointer;
      font-size: 14px;

      span {
        font-size: 13px;
      }
    }

    span:hover {
      color: rgb(255, 255, 255);
    }
  }
}