body {
  margin: 0; }

.nimbus_update {
  font-family: serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .nimbus_update__title, .nimbus_update__description, .nimbus_update__progress {
    font-size: 16px;
    margin-top: 14px; }
  .nimbus_update__buttons {
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    padding: 20px 20px;
    margin: 20px 0 0;
    flex: 1 0 auto;
    justify-content: space-between; }
  .nimbus_update__buttons_center {
    justify-content: space-around; }
