<!DOCTYPE html>
<html class="no-js" ng-app="NotesApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind="pageTitle">Nimbus Note</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script type="application/javascript">
      console.log("Nimbus Note Angular {{{version}}}");
      window.APP_LOAD_TIME={{{loadTime}}};
      window.APP_HYDRATED_STATE={{{hydratedState}}};
    </script>

    <link rel="icon" href="{{{favicon}}}" />
  <link href="../static/css/app.faf4a30fe71a1b918863.css" rel="stylesheet"><script type="text/javascript" src="../static/assets/nimbus-app.faf4a30fe71a1b918863.js"></script></head>
  <body id="ng-app" reset-initial-loading>
    <div class="nimbus_class_global" ui-view></div>

    <div class="nimbus-app-loading">
      <style type="text/css">
        .spinner {
          margin: 100px auto;
          width: 40px;
          height: 40px;
          position: relative;
          text-align: center;

          -webkit-animation: rotate 2.0s infinite linear;
          animation: rotate 2.0s infinite linear;
        }

        .dot1, .dot2 {
          width: 60%;
          height: 60%;
          display: inline-block;
          position: absolute;
          top: 0;
          border-radius: 100%;

          -webkit-animation: bounce 2.0s infinite ease-in-out;
          animation: bounce 2.0s infinite ease-in-out;
          background-color: #0096a7;
        }

        .dot2 {
          top: auto;
          bottom: 0px;
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }

        @-webkit-keyframes rotate {
          100% {
            -webkit-transform: rotate(360deg)
          }
        }

        @keyframes rotate {
          100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg)
          }
        }

        @-webkit-keyframes bounce {
          0%, 100% {
            -webkit-transform: scale(0.0)
          }
          50% {
            -webkit-transform: scale(1.0)
          }
        }

        @keyframes bounce {
          0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
          }
          50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
          }
        }

        div.nimbus-app-loading {
          position: absolute;
          z-index: 99999999;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }

        div.nimbus-app-loading div.animated-container {
          background-color: #414b4c;
          bottom: 0;
          left: 0;
          opacity: 1.0;
          position: fixed;
          right: 0;
          top: 0;
          z-index: 999999;
        }

        div.nimbus-app-loading div.animated-container.ng-leave {
          opacity: 1.0;
          transition: all linear 200ms;
          -webkit-transition: all linear 200ms;
        }

        div.nimbus-app-loading div.animated-container.ng-leave-active {
          opacity: 0;
        }

        div.nimbus-app-loading div.messaging {
          color: #FFFFFF;
          font-family: monospace;
          left: 0;
          margin-top: -37px;
          position: absolute;
          right: 0;
          text-align: center;
          top: 30%;
          height: 150px;
        }
      </style>

      <div class="animated-container">
        <div class="messaging">
          <img src="{{{logo}}}" style="max-width: 256px; max-height: 256px;" />

          <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
          </div>
        </div>
      </div>
    </div>
    <span id="select2-input-width-test"></span>
    <script src="{{{configUrl}}}"></script>
  </body>
</html>
