<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Nimbus Note</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/assets/css/main.min.css">
  </head>

  <body>
    <div class="wrapper text-center link-page">
      <a href="https://nimbusweb.me/" class="logo link-page__logo">
        <img src="/static/assets/images/mobile/logo-round.svg" alt="Nimbus" class="logo__img" />
      </a>

      <div class="text-bold text-biggest link-page__title">Start using <br />Nimbus Note!</div>

      <div class="d-flex ai-c juc-c link-page__apps">
        <img src="/static/assets/images/mobile/icon-appstore-gray.svg" alt="appstore" class="link-page__app" />
        <img src="/static/assets/images/mobile/icon-googleplay-gray.svg" alt="googleplay" class="link-page__app" />
      </div>

      <div class="link-page__descr">You need to download Nimbus Note mobile app</div>

      <a href="#" class="btn btn-big btn__round btn__fill-accent link-page__btn">Download</a>

      <div class="nimbus-info">
        <img src="/static/assets/images/mobile/rating.png" alt="alt" class="nimbus-info__rating" />
        <div class="nimbus-info__descr">Nimbus Web Inc based in&nbsp;Cleveland, Ohio!</div>
        <div class="nimbus-info__descr">Import from Evernote and get one month Premium for Free</div>
      </div>
    </div>

    <script>
      var $button = document.querySelector('.link-page__btn')
      if ($button && '{{{mobileOS}}}' == 'iOS') {
        $button.href = 'https://apps.apple.com/us/app/nimbus-note/id828918459';
      } else {
        $button.href = 'https://play.google.com/store/apps/details?id=com.bvblogic.nimbusnote&hl=en'
      }
    </script>
  </body>
</html>
