<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nimbus Note</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="/static/assets/images/everhelper.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/assets/images/everhelper.ico" type="image/x-icon">
    <script type="application/javascript">
      window.location.href = `{{{authUrl}}}&success=${ window.location.origin }/client`
    </script>
<link href="../static/css/app.faf4a30fe71a1b918863.css" rel="stylesheet"></head>
<body>
<script type="text/javascript" src="../static/assets/nimbus-app.faf4a30fe71a1b918863.js"></script></body>
