@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src:
    local('Anonymous Pro Regular'),
    local('AnonymousPro-Regular'),
    url(/static/assets/fonts/AnonymousPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: normal;
  src:
    local('Anonymous Pro Regular Italic'),
    local('AnonymousPro-RegularItalic'),
    url(/static/assets/fonts/AnonymousPro-RegularItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: bold;
  src:
    local('Anonymous Pro Bold'),
    local('AnonymousPro-Bold'),
    url(/static/assets/fonts/AnonymousPro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: bold;
  src:
    local('Anonymous Pro Bold Italic'),
    local('AnonymousPro-BoldItalic'),
    url(/static/assets/fonts/AnonymousPro-BoldItalic.ttf) format('truetype');
}
