@font-face {
    font-family: 'calibri';
    src:
      local('Calibri Bold'),
      url('/static/assets/fonts/carlito-bold-webfont.eot'),
      url('/static/assets/fonts/carlito-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('/static/assets/fonts/carlito-bold-webfont.woff2') format('woff2'),
      url('/static/assets/fonts/carlito-bold-webfont.woff') format('woff'),
      url('/static/assets/fonts/carlito-bold-webfont.svg#carlitoregular') format('svg'),
      url('/static/assets/fonts/carlito-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: 'calibri';
    src:
      local('Calibri Bold Italic'),
      url('/static/assets/fonts/carlito-bolditalic-webfont.eot'),
      url('/static/assets/fonts/carlito-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
      url('/static/assets/fonts/carlito-bolditalic-webfont.woff2') format('woff2'),
      url('/static/assets/fonts/carlito-bolditalic-webfont.woff') format('woff'),
      url('/static/assets/fonts/carlito-bolditalic-webfont.svg#carlitoregular') format('svg'),
      url('/static/assets/fonts/carlito-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'calibri';
    src:
      local('Calibri Italic'),
      url('/static/assets/fonts/carlito-italic-webfont.eot'),
      url('/static/assets/fonts/carlito-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('/static/assets/fonts/carlito-italic-webfont.woff2') format('woff2'),
      url('/static/assets/fonts/carlito-italic-webfont.woff') format('woff'),
      url('/static/assets/fonts/carlito-italic-webfont.svg#carlitoregular') format('svg'),
      url('/static/assets/fonts/carlito-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'calibri';
    src:
      local('Calibri'),
      url('/static/assets/fonts/carlito-regular-webfont.eot'),
      url('/static/assets/fonts/carlito-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('/static/assets/fonts/carlito-regular-webfont.woff2') format('woff2'),
      url('/static/assets/fonts/carlito-regular-webfont.woff') format('woff'),
      url('/static/assets/fonts/carlito-regular-webfont.svg#carlitoregular') format('svg'),
      url('/static/assets/fonts/carlito-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}