@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: normal;
  src:
    local('Caveat Regular'),
    local('Caveat-Regular'),
    url('/static/assets/fonts/Caveat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: bold;
  src:
    local('Caveat Bold'),
    local('Caveat-Bold'),
    url('/static/assets/fonts/Caveat-Bold.ttf') format('truetype');
}
