@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-Thin.eot');
    src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'),
        url('/static/assets/fonts/IBMPlexSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-Thin.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-Thin.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-Thin.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-Thin.svg#IBMPlexSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-LightItalic.eot');
    src: local('IBM Plex Sans Light Italic'), local('IBMPlexSans-LightItalic'),
        url('/static/assets/fonts/IBMPlexSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-LightItalic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-LightItalic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-LightItalic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-LightItalic.svg#IBMPlexSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-SemiBold.eot');
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
        url('/static/assets/fonts/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-SemiBold.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-MediumItalic.eot');
    src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'),
        url('/static/assets/fonts/IBMPlexSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-MediumItalic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-MediumItalic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-MediumItalic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-MediumItalic.svg#IBMPlexSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-SemiBoldItalic.eot');
    src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'),
        url('/static/assets/fonts/IBMPlexSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-SemiBoldItalic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-SemiBoldItalic.svg#IBMPlexSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-Medium.eot');
    src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
        url('/static/assets/fonts/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-Medium.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-Medium.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-Medium.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-Medium.svg#IBMPlexSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-ExtraLight.eot');
    src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLight.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLight.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLight.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLight.svg#IBMPlexSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-ExtraLightItalic.eot');
    src: local('IBM Plex Sans ExtraLight Italic'), local('IBMPlexSans-ExtraLightItalic'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLightItalic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLightItalic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLightItalic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-ExtraLightItalic.svg#IBMPlexSans-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-Italic.eot');
    src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
        url('/static/assets/fonts/IBMPlexSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-Italic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-Italic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-Italic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-Italic.svg#IBMPlexSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans.eot');
    src: local('IBM Plex Sans'), local('IBMPlexSans'),
        url('/static/assets/fonts/IBMPlexSans.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans.svg#IBMPlexSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-BoldItalic.eot');
    src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
        url('/static/assets/fonts/IBMPlexSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-BoldItalic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-BoldItalic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-BoldItalic.svg#IBMPlexSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-Light.eot');
    src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
        url('/static/assets/fonts/IBMPlexSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-Light.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-Light.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-Light.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-Light.svg#IBMPlexSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-ThinItalic.eot');
    src: local('IBM Plex Sans Thin Italic'), local('IBMPlexSans-ThinItalic'),
        url('/static/assets/fonts/IBMPlexSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-ThinItalic.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-ThinItalic.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-ThinItalic.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-ThinItalic.svg#IBMPlexSans-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/assets/fonts/IBMPlexSans-Bold.eot');
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
        url('/static/assets/fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/assets/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
        url('/static/assets/fonts/IBMPlexSans-Bold.woff') format('woff'),
        url('/static/assets/fonts/IBMPlexSans-Bold.ttf') format('truetype'),
        url('/static/assets/fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

