@font-face {
  font-family: 'icomoon';
  src:  url('/static/assets/fonts/icomoon.eot?wjlzu7');
  src:  url('/static/assets/fonts/icomoon.eot?wjlzu7#iefix') format('embedded-opentype'),
    url('/static/assets/fonts/icomoon.ttf?wjlzu7') format('truetype'),
    url('/static/assets/fonts/icomoon.woff?wjlzu7') format('woff'),
    url('/static/assets/fonts/icomoon.svg?wjlzu7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
