@font-face {
    font-family: 'Inconsolata';
    src:
      local('Inconsolata'),
      url('/static/assets/fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src:
    local('Inconsolata'),
    url('/static/assets/fonts/Inconsolata-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
