@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  src:
    local('Roboto Slab'),
    local('Roboto-Slab'),
    url('/static/assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  src:
    local('Roboto Slab Bold'),
    local('Roboto-Slab-Bold'),
    url('/static/assets/fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Slab Light'),
    local('Roboto-Slab-Light'),
    url('/static/assets/fonts/RobotoSlab-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src:
    local('Roboto Slab Thin'),
    local('Roboto-Slab-Thin'),
    url('/static/assets/fonts/RobotoSlab-Thin.ttf') format('truetype');
}
