/* override nimbus popup css */

.form_container_popup .form_logo {
  background-image: url(../images/logo_big.png);
  width: 153px;
  height: 48px;
}

.form_container_popup .form_wrapper {
  padding-top: 80px;
}

.form_button span {
  background-color: #a9d450;
}

.form_button:hover span {
  background-color: #a9d450;
}

.form_links a {
  color: rgba(0,0,0,0.7);
}

.form_notes_text a {
  color: rgba(0,0,0,0.7);
  text-decoration: underline;
}

.form_links {
  color: #b8b8b8;
}