/*form*/
.form_container {padding:60px 0; min-height:1px;}
.form {border:6px solid #a9d450; border-radius:6px; max-width:478px; min-width:310px; margin:0 auto;}
.form_wrapper {padding:160px 70px 20px 70px; min-height:160px; background:#dddfe0; box-shadow:inset 0 2px 2px rgba(0,0,0, 0.06); position:relative;}
.form_logo {position:absolute; left:50%; top:32px; width:306px; height:95px; margin:0 0 0 -153px; background:url(../images/logo_big.png) no-repeat 0px 0px;}
.form_user_name {position: absolute;right: 5px;top: 5px;}
.form_user_name .label {display: block;padding: 5px;font-size: 13px;color: #333333;transition: all 0.1s ease-in;-webkit-transition: all 0.1s ease-in 0; text-decoration:none; float:left}
.form_user_name .button {display: block; width:16px; height:16px; background: yellow; margin-top: 7px; float:left; background: url(../images/exit.png) no-repeat; background-position: center center; }
.form_text_separate {text-align:center; color:#b8b8b8; font-size:17px; font-weight:bold; height:36px; line-height:36px;}
.form_links {padding:20px 0 0 0; text-align:center; font-size:13px; color:#959595;}
.form_links a {color:#000; text-decoration:none;}

.form_error .form_error_field {border-color:#cc9e9e;}
.form_error_text {background:#c65d5d; padding:7px 15px; border-radius:3px; color:#fff; font-size:15px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_success_text {background:#a9d450; padding:7px 15px; border-radius:3px; color:#485d1d; font-size:14px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_error .form_error_text {display: block;}
.form_success .form_success_text {display: block;}  
#form_resetpass .form_success .form_success_text{
  margin-top: 55px;
}

.form_text {display:block; width:100%; padding:0 20px; font-size:17px; background:#fff; border:1px solid #dfdfdf; border-radius:3px; margin:0 0 12px 0; height:44px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; font-weight:bold;}
.form_button {display:block; background:none; border:none; cursor:pointer; width:100%;}
.form_button span {display:block; border:1px solid #8fb345; box-shadow:inset 0 1px 1px rgba(193, 235, 105, 0.75); background:#a9d450; height:44px; line-height:44px; padding:0 20px; border-radius:3px; color:#485d1d; font-size:14px; font-weight:bold; text-transform:uppercase; position:relative;}
.form_button_google span {}
.form_button_google span:before {content:""; display:block; position:absolute; left:0; top:0; width:57px; height:100%; background:url(../images/google_plus.png) no-repeat center; border-right:1px solid #8fb345;}

.form_checkbox {padding:8px 0 20px 0; min-height:1px;}
.form_checkbox label {display:inline-block; line-height:20px; position:relative; padding:0 0 0 32px; font-size:14px; color:#5b5b5b; cursor:pointer;}
.form_checkbox label input {display:block; position:absolute; left:0; top:0; opacity:0; visibility:hidden;}
.form_checkbox label i {display:block; width:20px; height:20px; background:#fff; border-radius:2px; position:absolute; left:0; top:0;}
.form_checkbox label input:checked + i {background:url(../images/form_checkbox.png) no-repeat center #fff;}

.form_captcha {padding:0 0 16px 0;}
.form_notes_text {font-size:11px; color:#5b5b5b; padding:0 0 10px 0; min-height:1px;}
.form_notes_text a {color:#959595;}

.form_restore_text {font-size:14px; color:#5b5b5b; padding:0 0 16px 0; min-height:1px;}
.form_restored {font-size:20px; color:#4c4d4e; text-align:center;}
.form_restored span {display:block; font-size:14px; color:#676767; padding:10px 0 0 0;} 

/*forms*/

.form_container .form{
  display: none;
}

.form_wrapper input.wrong{
  border: 1px solid #aa0000;
  margin-bottom: 2px;
}
.form_wrapper input.valid{
  border: 1px solid #a9d450;  
}
.form_wrapper label.wrong{
  margin-bottom: 12px;
  display: block;
  color: #aa0000;
}

.form_invite_message  {
	font-size:14px; 
	color:#5b5b5b; 
	padding:0 0 16px 0; 
	min-height:1px;
	text-align:center;
}

.form_message_status {
	display:none; 
	background:none; 
	border:none; 
	cursor:default; 
	width:100%;
	text-decoration: none;
}
.form_message_status span {
	display:block; 
	border:1px solid #8fb345; 
	box-shadow:inset 0 1px 1px rgba(193, 235, 105, 0.75); 
	background:#a9d450; 
	height:44px; 
	line-height:44px; 
	padding:0 20px; 
	border-radius:3px; 
	color:#485d1d; 
	font-size:14px; 
	font-weight:bold; 
	text-transform:uppercase; 
	position:relative;
	text-align:center;
}


.form_container .center {
  max-width: 500px; min-width:300px;
}

.switch-to-container {
  text-align: right;
  padding-right: 8px;
  margin-bottom: 5px;
}

.switch-to-container a {
  font-size: 15px;
  text-decoration: none;
  color: #666;
}

/*social auth*/

.social_auth_icons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
}

.social_auth_icons > button:not(:first-child) {
  margin-left: 5px;
}

.social_auth_icon.button {
  width: auto;
  height: auto;
  display: inline-block;
}
.social_auth_icon span {
  height: auto;
  line-height:1;
  padding: 10px;
}
.social_auth_icon i {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.social_auth_icon_google i{
  background: url(../images/social-icons/google.svg) no-repeat;
  background-size: 30px 30px;
}

.social_auth_icon_facebook i{
  background: url(../images/social-icons/facebook-orig.png) no-repeat;
  background-size: 52px 53.5px;
}

.form_captcha_image_container img {
  width: 338px;
  height: 125px;
}

.form_button_no_style {
  border: none;
  background: none;
  cursor: pointer;
}

.form_button_no_style.social_auth_icon span {
  padding: 0;
  line-height: inherit;
}

.form_button_no_style.social_auth_icon span i {
  width: 52px;
  height: 53.5px;
}

.terms {
  text-align: center;
  margin-top: 30px;
}

/*social auth*/

.social_auth_icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social_auth_icon.button {
  display: inline-block;
}

.form .social_auth_icon.button {
  background-color: rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 47%;
}

.form .social_auth_icon.button span {
  padding: 0;
  height: auto;
  line-height: 0;
}

.form .social_auth_icon.button .text {
  font-size: 13px;
  line-height: 18px;
  color: #5C6061;
  letter-spacing: -0.078px;
}

.social_auth_icon i {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
}
.social_auth_icon_google i{
  background: url(../images/social-icons/google2.svg) no-repeat;
}

.social_auth_icon_facebook i{
  background: url(../images/social-icons/facebook2.svg) no-repeat;
}

.form_button.social_auth_icon.button span {
  background: none;
  border: none;
}