.form_container {border-top:1px solid #dfdfdf; padding:70px 0; min-height:1px;}
.form {box-shadow: 2px 20px 24px rgba(0, 0, 0, 0.12); border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.04); margin:0 auto; position: relative;}
.form_wrapper {padding:140px 70px 16px 70px; min-height:160px; background:#fff; position:relative;}
.form_logo {
  cursor: pointer; position:absolute; left:37%; top:54px; width:270px; height:47px; margin:0 0 0 -130px; background:url(../images/Nimbusnote_full_black.png) no-repeat 0px 0px; -webkit-background-size: 100% 100%;
background-size: 100% 100%; margin: 0 0 0 -80px;

}
.form_top_text {color:#5b5b5b; font-size:17px; padding:0 0 35px 0; min-height:1px; text-align: center;}

.form_text_separate {text-align:center; color:#b8b8b8; font-size:17px; height:36px; line-height:36px; position:relative;}
/*.form_text_separate:before {content:""; display:block; position:absolute; width:100%; left:0; top:18px; height:1px; background:#dfdfdf;}*/
.form_text_separate span {display:inline-block; background:#fff; padding:0 8px; position:relative; z-index:2;}
.form_links {padding:20px 0 0 0; text-align:center; font-size:13px; color:#000;}
.form_links a {color:#1290a6; text-decoration:none;}

.form_error .form_error_field {border-color:#cc9e9e;}
.form_error_text {background:#fff1f1; text-align:center; padding:12px 15px; border-radius:3px; color:#930000; font-size:15px; min-height:1px; margin:0 0 20px 0; display:none;}
.form_error .form_error_text {display:block;}

.form_text {display:block; width:100%; padding:0 20px; font-size:17px; background:#fff; border:1px solid #dfdfdf; border-radius:3px; margin:0 0 12px 0; height:44px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; font-weight:bold;}
.form .button {width:100%; display:block; cursor:pointer; font-size:14px; background-color: #359fb7; border: none; border-radius: 16px;}
.form .button:hover {background-color: #3990a3;}
.form .button span {padding:0 20px; line-height:32px; height:44px; color: rgba(255, 255, 255, 0.87);}
.form_button_google span:before {content:""; display:block; position:absolute; left:0; top:0; width:57px; height:100%; background:url(../images/google_plus.png) no-repeat center; border-right:1px solid #fff;}

.form_checkbox {padding:8px 0 20px 0; min-height:1px;}
.form_checkbox label {display:inline-block; line-height:22px; position:relative; padding:0 0 0 32px; font-size:14px; color:#5b5b5b; cursor:pointer;}
.form_checkbox label input {display:block; position:absolute; left:0; top:0; opacity:0; visibility:hidden;}
.form_checkbox label i {display:block; width:20px; height:20px; background:#fff; border-radius:3px; position:absolute; left:0; top:0; border:1px solid #dfdfdf;}
.form_checkbox label input:checked + i {background:url(../images/form_checkbox.png) no-repeat center #fff;}

.form_captcha {padding:0 0 16px 0;}
.form_notes_text {font-size:11px; color:#5b5b5b; padding:0 0 10px 0; min-height:1px; text-align:center;}
.form_notes_text a {color:#1290a6;}

.form_restore_text {font-size:14px; color:#5b5b5b; padding:0 0 16px 0; min-height:1px;}
.form_restored {font-size:20px; color:#1290a6; text-align:center;}
.form_restored span {display:block; font-size:14px; color:#676767; padding:10px 0 0 0;}

.terms {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.terms a{
  font-size: 10px!important;
  margin-top: 14px;
  display: block;
  color: #c1cadb!important;
  font-size: 14px;
  transition: 0.3s;
  color: #fff;
}
.terms a:hover{
  color: #000!important;
}
.bg-wrapper{
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(/new-style-img/note-one-place-2.svg);
  -webkit-background-size: cover;
  background-size: cover;
}


/*forms*/
.form_button .button button{
  background-color: #359fb7!important;
}

.form_container .form{
  display: none;
}

.form_wrapper input.wrong{
  border: 1px solid #aa0000;
  margin-bottom: 2px;
}
.form_wrapper input.valid{
  border: 1px solid #a9d450;
}
.form_wrapper label.wrong{
  margin-bottom: 12px;
  display: block;
  color: #aa0000;
}




.form_success_text {background:#a9d450; padding:7px 15px; border-radius:3px; color:#485d1d; font-size:14px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_success .form_success_text {display: block;}
#form_resetpass .form_success .form_success_text{
  margin-top: 55px;
}



.center {
  max-width: 530px;
  margin: 0 auto;
  padding: 0 15px;
}

.switch-to-container {
  text-align: right;
  margin-bottom: 5px;
}

.switch-to-container a {
  font-size: 15px;
  text-decoration: none;
  color: #666;
}



/*social auth*/

.social_auth_icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.social_auth_icon.button {
  display: inline-block;
}

.form .social_auth_icon.button {
  background-color: rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 47%;
}

.form .social_auth_icon.button span {
  padding: 0;
  height: auto;
  line-height: 0;
}

.form .social_auth_icon.button .text {
  font-size: 13px;
  line-height: 18px;
  color: #5C6061;
  letter-spacing: -0.078px;
}

.social_auth_icon i {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
}
.social_auth_icon_google i{
  background: url(../images/social-icons/google2.svg) no-repeat;
}

.social_auth_icon_facebook i{
  background: url(../images/social-icons/facebook2.svg) no-repeat;
}

.form_captcha_image_container img {
  width: 338px;
  height: 125px;
}

.form_button_no_style {
  border: none;
  background: none;
  cursor: pointer;
}

.form_button_no_style.social_auth_icon.button span {
  padding: 0;
  line-height: inherit;
}

.form_button_no_style.social_auth_icon span i {
  width: 50px;
  height: 53.75px;
}

.text_visible {
  font-weight: bold;
  color: #161616;
  font-size: 16px;
}

.small_separator {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_button.light_button {
  text-align: center;
  background: rgba(0, 161, 183, 0.1);
}
.form_button.light_button:hover {
  background: rgba(0, 161, 183, 0.1);
}
.form_button.light_button span {
  color: #00A1B7;
}

.otp_bottom_help {
  margin-top: 20px;
  text-align: center;
}

.form .button[type="submit"] {
  margin-top: 30px;
}

.form .button[type="submit"].register_team_account_btn {
  margin-top: 0px;
}

.register-type-switch {
  background: #F0F4F5;
  border-radius: 16px;
  display: flex;
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
}

.register-type-switch .switch-option {
  padding: 5px 20px;
  border-radius: 16px;
  color: #359fb7;
  text-align: center;
  cursor: pointer;
  transition: ease 200ms background;
}

.register-type-switch .switch-option.active {
  background: #359fb7;
  color: #F0F4F5;
  cursor: auto;
}

/* loader animation */

.form_button img {
  display: none;
}

.loading .form_button img.rot {
  position: absolute;
  top: 3px;
  right: 46%;
  display: block;
  animation: 3s ease-in 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
  width: 25px;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading .form_button {
  position: relative;
}

.form_button.button span em {
  font-style: normal;
}

.loading .form_button.button span em {
  display: none;
}

.loading .social_auth_icon span {
  display: block !important;
}

.loading {
  transition: 0.2s;
  opacity: 0.5;
}
