html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}button::-moz-focus-inner {padding:0; border:0}input:focus, select:focus, textarea:focus, button:focus {outline:none;}input, textarea, button {border-radius:0; font-family:Verdana, Arial, sans-serif; font-size:13px;}textarea, input, label, a,.animated {-webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
     -o-transition: all 0.1s ease-out;  /* Opera 10.50тАУ12.00 */
        transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.non_animated {-webkit-transition: none !important;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: none !important;  /* Firefox 4-15 */
     -o-transition: none !important;  /* Opera 10.50тАУ12.00 */
        transition: none !important;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.hidden {overflow:hidden; visibility:hidden; opacity:0; display:none;}
input:focus::-webkit-input-placeholder {color:transparent !important; opacity:0 !important;}
input:focus:-moz-placeholder {color:transparent !important; opacity:0 !important;}
input:focus::-moz-placeholder {color:transparent !important; opacity:0 !important;}
input:focus:-ms-input-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus::-webkit-input-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus:-moz-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus::-moz-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus:-ms-input-placeholder {color:transparent !important; opacity:0 !important;}
* {margin:0; padding:0;}img {border:0;}
.clear {clear:both; line-height:0; height:0; font-size:1px;}
.wrapper {width:960px; padding:0 15px; position:relative; margin:0 auto;}
body {background:#fff; font:15px Verdana, Arial, sans-serif; color:#3e4849; line-height:1.5; -webkit-font-smoothing:antialiased;}
a {text-decoration:none; color:#0081c5; outline:none; cursor:pointer;}
a:hover {text-decoration:none;}

html,body {height:100%;}
.wrap_it_all {min-height:100%;}
* html .wrap_it_all {height:100%;}

/*global*/
.white_bg {background:#fff !important;}
.align_center {text-align:center;}
.img_line {background:url(../images/main_page_img1.jpg) no-repeat center; height:210px; width:100%;}
.main_page .center {width:auto; max-width:1140px; min-width:990px;}
.bg_divider {background:url(../images/bg.jpg) repeat top center #4fb8a3; height:16px;}
.bg_white {background:#fff !important;}
.single_page_lyaout {background:#f2f2f2;}
.title {text-align:center; font-size:60px; padding:0 0 50px 0; min-height:1px; font-weight:normal;}

/*buttons*/
.product_right_links_small .button {font-size:15px;}
.product_right_links_small .button span {padding-right:12px;}
.button {display:inline-block; vertical-align:top; position:relative; border:none; background:none; cursor:pointer; text-decoration:none; font-size:13px; color:#fff;}
.button span {display:block; padding:0 18px; height:30px; line-height:28px; border-radius:3px; background:#3d4748;}
.button:hover {text-decoration:none;}
.button:hover span {background:#303738;}
.button:active span {background:#1e2223;}
.button:active {top:1px;}

.button_big {font-size:16px;}
.button_big span {height:52px; line-height:52px; padding:0 24px; border-radius:5px;}

.button_fit {width:100%;}
.button_fit span {padding:0; text-align:center;}

.form_button span {background:#359fb7;}
.button_blue span {background:#359fb7;}
.form_button:hover span {background:#1895ab;}
.button_blue:hover span {background:#1895ab;}
.button_blue:active span {background:#19a1b9;}

.button_white {color:#3e4849;}
.button_white span {background:#f1f1f1;}
.button_white:hover span {background:#e5e5e5;}
.button_white:active span {background:#ccc;}

.button_green span {background:#47af98;}
.button_green:hover span {background:#4fbca4;}
.button_green:active span {background:#47af98;}

.button_grey {color:#5b5b5b;}
.button_grey span {background:#f4f4f4;}
.button_grey:hover span {background:#efefef;}
.button_grey:active span {background:#ededed;}

/*button icons*/
.ico_chrome span {padding-left:48px;}
.ico_chrome span:before {content:""; display:block; position:absolute; width:62px; height:39px; background:url(../images/ico_chrome.png) no-repeat 0px 0px; left:7px; bottom:0;}
.ico_ff span {padding-left:51px;}
.ico_ff span:before {content:""; display:block; position:absolute; width:65px; height:39px; background:url(../images/ico_ff.png) no-repeat 0px 0px; left:6px; bottom:0;}
.ico_android span {padding-left:48px;}
.ico_android span:before {content:""; display:block; position:absolute; width:61px; height:42px; background:url(../images/ico_android.png) no-repeat 0px 0px; left:10px; bottom:0;}
.ico_web span {padding-left:64px;}
.ico_web span:before {content:""; display:block; position:absolute; width:77px; height:36px; background:url(../images/ico_web.png) no-repeat 0px 0px; left:9px; bottom:0;}
.ico_pc span {padding-left:67px;}
.ico_pc span:before {content:""; display:block; position:absolute; width:73px; height:41px; background:url(../images/ico_pc.png) no-repeat 0px 0px; left:10px; bottom:0;}
.ico_ios span {padding-left:51px;}
.ico_ios span:before {content:""; display:block; position:absolute; width:62px; height:42px; background:url(../images/ico_ios.png) no-repeat 0px 0px; left:9px; bottom:0;}

/*header*/
.site_header {position:relative; z-index:20; background:#fff;}
.site_header .wrapper {height:70px;}
.header_top {position:absolute; left:15px; top:0; height:100%;}
.logo {position:absolute; width:68px; height:40px; top:15px;}
.logo a,.logo img {display:block; width:100%; height:100%;}
.header_buttons {position:absolute; right:15px; top:20px;}
.header_buttons .button {display:block; float:left; margin:0 0 0 8px;}

/*menu*/
.menu_hidden .menu {display:none;}
.menu {position:absolute; left:85px; top:17px; z-index:10; display:none;}
.menu_button {display:block; position:absolute; background:none; border:none; cursor:pointer; padding:10px; left:0; top:0;}
.menu_button:hover {background:#efefef;}
.menu_button:active {box-shadow:inset 0 0 5px rgba(0,0,0, 0.125);}
.menu_button span {display:block; width:22px; height:15px;}
.menu_button span img {display:block; width:100%; height:100%;}
.menu_wrapper {position:absolute; top:35px; left:0; width:100%;}
.menu_holder {position:relative; width:360px; visibility:hidden; opacity:0; height:0; overflow:hidden;}
.menu_overlay {display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:#333839; opacity:0.95;}
.menu_content {position:relative; z-index:5; padding:55px 15px 15px 15px; min-height:1px;}
.menu_close {display:block; position:absolute; left:15px; top:15px; cursor:pointer; width:18px; height:18px; line-height:18px; color:#fff;}
.menu_close img {display:block;}
.menu_close:hover {opacity:0.8;}
.menu_close:active {top:16px;}
.menu_nav {text-align:center; padding:0 0 50px 0; min-height:1px;}
.menu_nav ul li {display:block; padding:10px 0 11px 0; min-height:1px; list-style:none; position:relative; font-size:22px; font-weight:bold;}
.menu_nav ul li:before {content:""; display:block; position:absolute; left:50%; margin:0 0 0 -15%; bottom:0; width:30%; background:#4e5a5b; height:1px;}
.menu_nav ul li:last-child:before {display:none;}
.menu_nav ul li a {color:#359fb7;}
.menu_nav ul li a:hover {color:#fff;}
.menu_actions .button {font-size:18px; display:block; margin:0 0 20px 0;}
.menu_open .menu_button {background:#efefef;}
.menu_open .menu_holder {visibility:visible; opacity:1; overflow:inherit; height:auto;}

/*main menu*/
.menu_hidden .main_menu {display:none;}
.main_menu {padding:7px 250px 0 100px; text-align:center; min-height:1px;}
.main_menu ul li {display:inline-block; list-style:none; vertical-align:top; height:56px; position:relative;}
.main_menu ul li a {display:block; height:56px; line-height:56px; padding:0 16px; font-size:16px; color:#595959;}
.main_menu ul li a:hover {color:#000;}
.main_menu ul li ul {display:block; position:absolute; left:0; top:48px; padding:1px; background:#4fbca4; width:329px; text-align:left; display:none; box-shadow:0 8px 8px rgba(0, 0, 0, 0.5);}
.main_menu ul li ul li {display:block; vertical-align:top; height:auto;}
.main_menu ul li ul li a {padding:12px 16px; font-size:14px; line-height:1.4; height:auto; color:#fff; font-weight:bold;}
.main_menu ul li ul li a:hover {background:#449f8b;}
.main_menu ul li.menu_parent:hover {background:#4fbca4;}
.main_menu ul li.menu_parent:hover a {color:#fff;}
.main_menu ul li.menu_parent:hover ul {display:block;}
.main_menu ul li ul.menu_products {padding:22px 1px;}
.main_menu ul li ul.menu_products li a {padding:0 0 0 90px; line-height:63px; height:63px; color:#fff;}
.main_menu ul li ul.menu_products li.menu_products_clipper a {background:url(../images/clipper3.png) no-repeat 29px center;}
.main_menu ul li ul.menu_products li.menu_products_note a {background:url(../images/note3.png) no-repeat 30px center;}
.main_menu ul li ul.menu_products li.menu_products_screen a {background:url(../images/screenshots3.png) no-repeat 31px center;}
.main_menu ul li ul.menu_products li a:hover {background-color:#449f8b; color:#fff;}

/*top*/
.top_global {background:url(../images/new/top.jpg) no-repeat top center #4fb8a3; background-size:cover;}
.top_holder {position:relative; padding:45px 0 45px 0; min-height:1px;}
.top_img {position:relative; float:left; width:607px; height:447px;}
.top_img_main {display:block; position:absolute; left:0; top:0; width:100%; height:100%; }
.top_img_main img {display:block; width:100%; height:100%;}
.top_img_part {position:absolute; left:0; top:0; background:#fff;}
.top_img_part img {display:block; width:100%; height:100%;}
.top_img_part_1 {width:306px; height:187px; left:102px; top:225px;}
.top_img_part_2 {width:59px; height:104px; left:528px; top:317px;}
.top {float:right; width:445px; color:#fff;}
.top_content_article {visibility:visible; overflow:inherit; opacity:1; height:auto; top:auto; position:relative;}
.top_title {font-weight:normal; font-size:34px; text-align:center; line-height:1.3; padding:0 0 30px 0; min-height:1px;}
.top_actions {width:260px; margin:0 auto; padding:0 0 40px 0; min-height:1px;}
.top_text {float:left;}
.top_actions_or {font-size:16px; color:#fff; position:relative; text-align:center; text-transform:uppercase; height:40px; line-height:40px;}
.top_actions_or:before,.top_actions_or:after {content:""; display:block; position:absolute; left:0; top:50%; height:1px; width:42%; background:#fff;}
.top_actions_or:after {left:auto; right:0;}
.top .form_popup {visibility:hidden; overflow:hidden; opacity:0; height:0px; top:-30px; position:relative;}
.top_popup_active .top_content_article {visibility:hidden; overflow:hidden; opacity:0; height:0px; top:-30px;}
.top_popup_active .form_popup {visibility:visible; overflow:inherit; opacity:1; height:auto; top:0;}

/*features*/
.feature {background:#fff;}
.feature_wrapper {position:relative; padding:75px 0; min-height:1px;}
.feature_img {float:right;}
.feature_right .feature_img {float:left;}
.feature_img img {display:block; width:100%; height:100%;}
.feature_content_holder {width:470px; float:left;}
.feature_right .feature_content_holder {float:right;}
.feature_content {font-size:15px; color:#3e4849; padding:30px 0 0 0;}
.feature_title {font-size:42px; font-weight:normal; padding:0 0 35px 0; min-height:1px;}
.feature_content p {padding:0 0 30px 0; min-height:1px;}
.feature_default {text-align:center;}
.feature_default .feature_wrapper {min-height:1px; padding:0;}
.feature_default .feature_img {position:relative; line-height:0; width:100%; text-align:center; float:none;}
.feature_default .feature_img img {display:inline-block; width:auto; height:auto;}
.feature_default .feature_content_holder {float:none; width:100%; padding:0 0 20px 0; min-height:1px;}
.feature_download_button {background:url(../images/new/main_page/main_page_platforms.png) no-repeat bottom center; padding:0 0 40px 0; min-height:1px;}
.feature_download_button .button span {padding:0 32px;}
.feature_capture .feature_img {width:540px; height:360px;}
.feature_share .feature_img {width:450px; height:300px;}
.feature_share {background:url(../images/new/main_page/main_page_share_bg.jpg) no-repeat center; background-size:cover;}

/*we_social*/
.we_social {background:#009fb7; padding:20px 0; min-height:1px; text-align:center; overflow:hidden; line-height:1;}
.we_social_title {display:inline-block; margin:10px 20px; font-size:36px; color:#fff; vertical-align:middle;}
.we_social_link {display:inline-block; margin:10px; overflow:hidden; position:relative; vertical-align:middle;}
.we_social_link a {display:block; text-indent:-9999px; position:absolute; left:0; top:0; width:100%; height:100%;}
.we_social_link a:hover {opacity:0.8;}
.we_social_tw {width:38px; height:31px;}
.we_social_tw a {background:url(../images/new/social/tw.svg) no-repeat 0px 0px;}
.we_social_fb {width:34px; height:34px;}
.we_social_fb a {background:url(../images/new/social/fb.svg) no-repeat 0px 0px;}
.we_social_gp {width:34px; height:33px;}
.we_social_gp a {background:url(../images/new/social/gp.svg) no-repeat 0px 0px;}
.we_social_yt {width:42px; height:30px;}
.we_social_yt a {background:url(../images/new/social/yt.svg) no-repeat 0px 0px;}

/*footer*/
.empty {height:228px;}
.site_footer {height:227px; margin:-228px 0 0 0; width:100%; background:#efefef; min-width:320px; position:relative; border-top:1px solid #fff;}
.site_footer_divider {position:absolute; left:0; top:-16px; width:100%; background:url(../images/new/top.jpg) repeat top center #4fb8a3; height:16px; border-top:1px solid #d8d8d8; display:none;}
.single_page_lyaout .site_footer_divider {display:block;}
.single_page_lyaout .empty {height:244px;}
.footer_menus {padding:25px 0 0 0; min-height:1px; width:720px; margin:0 auto;}
.footer_menus .footer_menu {display:block; float:left; width:180px; text-align:left; font-size:14px;}
.footer_menus .footer_menu .footer_menu_wrapper {padding:0 5px;}
.footer_menus .footer_menu .footer_menu_title {font-size:14px; color:#3e4849; font-weight:normal; padding:0 0 15px 0; text-transform:uppercase;}
.footer_menus ul li {list-style:none; display:block; padding:0 0 4px 0; min-height:1px; font-size:13px;}
.footer_menus ul li a {color:#3e4849;}
.footer_menus ul li a:hover {color:#359fb7;}
.footer_cards {position:absolute; right:15px; top:25px; min-height:1px;}
.footer_cards_block {float:left; width:52px; height:32px; margin:0 0 0 4px;}
.footer_cards_block img {display:block; width:100%; height:100%;}
.copy {background:#fff; height:37px; line-height:37px; position:absolute; bottom:0; left:0; width:100%; color:#4e4f4f; font-size:12px; text-align:center; text-transform:uppercase;}

/*questions*/
.questions {background:#f2f2f2; padding:35px 0 0 0; min-width:990px; min-height:1px;}
.plans_width {min-width:820px;}
.plans_width .center {width:820px;}
.main_page .questions {background:#fff;}
.questions_set {overflow:hidden;}
.question_block {padding:0 0 30px 0; min-height:1px;}
.question_title {padding:0 0 8px 0; font-size:27px; font-weight:normal; color:#00a0b7;}
.question_desc {line-height:1.5; font-size:14px;}

/*product*/
.product {background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
.product_wrapper {padding:30px 0; min-height:1px; position:relative;}
.product_left {position:absolute; left:0; top:50%; z-index:2;}
.product_left .product_title {color:#047ba4; font-size:26px; font-weight:normal; line-height:1;}
.product_right {float:right;}
.product_right_title {display:block; font-size:18px; color:#707070; font-weight:normal; padding:0 0 10px 0;}
.product_right_links {overflow:hidden;}
.product_right_links a {margin:0 7px; display:block; float:left;}
.product_right_links a:last-child {margin:0 0 0 7px;}
.product_right_links a:first-child {margin:0 7px 0 0;}
.product_standart .product_left {height:50px; margin:-25px 0 0 0;}
.product_standart .product_left .product_title {line-height:50px;}
.product_clipper .product_left {height:73px; margin:-36px 0 0 0;}
.product_clipper .product_left .product_title {padding:0 0 0 83px; background:url(../images/clipper2.png) no-repeat left center; line-height:73px;}
.product_note .product_right_title {color:#007c91;}
.product_note .product_left {height:65px; margin:-32px 0 0 0;}
.product_note .product_left .product_title {padding:0 0 0 83px; background:url(../images/note2.png) no-repeat left center; color:#303030; line-height:65px;}
.product_screen .product_left {height:67px; margin:-33px 0 0 0;}
.product_screen .product_left .product_title {padding:0 0 0 83px; background:url(../images/screenshots2.png) no-repeat left center; color:#023180; line-height:67px;}

/*carousel*/
.carousel {background:#fff; height:730px; overflow:hidden; position:relative;}
.jcarousel-container {width:100%; height:100%;}
.jcarousel-clip {width:980px; height:100%; position:relative;}
.carousel ul li {display:block; float:left; list-style:none; width:980px; height:700px; padding:30px 0 0 0; position:relative;/* IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";/* IE 5-7 */
filter: alpha(opacity=50);/* Netscape */
-moz-opacity: 0.5;/* Safari 1.x */
-khtml-opacity: 0.5;/* Good browsers */
opacity: 0.5;-webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.1s ease-out;  /* Opera 10.50тАУ12.00 */
          transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.carousel ul li.active {/* IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/* IE 5-7 */
filter: alpha(opacity=100);/* Netscape */
-moz-opacity: 1;/* Safari 1.x */
-khtml-opacity: 1;/* Good browsers */
opacity: 1; }
.jcarousel-control {position:absolute; bottom:30px; left:0; width:100%; height:10px; z-index:50; text-align:center;}
.jcarousel-control span {display:inline-block; width:10px; height:10px; background:url(../images/dots.png) no-repeat -16px 0px; text-indent:-9999px; cursor:pointer; margin:0 3px;}
.jcarousel-control span.active {background-position:0px 0px;}
#mycarousel-next, #mycarousel-prev {position:absolute; right:0; width:30%; height:100%; top:0; z-index:30; cursor:pointer;}
#mycarousel-prev {right:auto; left:0;}
.carousel ul li h2 {font-size:50px; color:#1290a6; font-weight:normal; position:absolute; left:0; top:20px; width:100%; text-align:center;}
.carousel ul li p {display:block; position:absolute; line-height:1.5; font-size:15px; font-weight:bold;}
.carousel ul li.carousel_item_dark p {color:#fff;}
.note_item_1 {background:url(../images/slider/note_1.jpg) no-repeat 50% 155px;}
.note_item_2 {background:url(../images/slider/note_2.jpg) no-repeat 50% 155px;}
.note_item_3 {background:url(../images/slider/note_3.jpg) no-repeat 50% 175px;}
.carousel ul li.note_item_1 p {left:326px; top:145px;}
.carousel ul li.note_item_2 p {left:96px; top:140px;}
.carousel ul li.note_item_3 p {left:76px; top:135px;}
.carousel_screen {height:670px;}
.carousel_screen ul li {height:640px;}
.screen_item_1 {background:url(../images/slider/screen_1.jpg) no-repeat 50% 144px;}
.screen_item_2 {background:url(../images/slider/screen_2.jpg) no-repeat 50% 175px;}
.screen_item_3 {background:url(../images/slider/screen_3.jpg) no-repeat 50% 175px;}
.carousel ul li.screen_item_1 h2 {font-size:45px;}
.carousel ul li.screen_item_1 p {left:56px; top:345px;}
.carousel ul li.screen_item_2 p {left:446px; top:160px;}
.carousel ul li.screen_item_3 p {left:176px; top:175px;}

/*properties*/
.properties {background:#f2f2f2; padding:60px 0 0 0; min-height:1px;}
.properties_set {overflow:hidden;}
.property_block {float:left; width:50%; padding:0 0 60px 0; min-height:1px;}
.property_block_wrapper {position:relative; padding:0 40px 0 100px; min-height:90px;}
.property_img {position:absolute; left:0; top:0; height:90px; width:90px;}
.property_img img {display:inline-block; max-width:100%; max-height:100%; width:auto; height:auto; vertical-align:middle;}
.property_title {padding:0 0 8px 0; font-size:22px; font-weight:normal; color:#00a0b7;}
.property_desc {line-height:1.5; font-size:14px;}

/*functions*/
.functions {background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; padding:30px 0 10px 0; min-height:1px; overflow:hidden;}
.functions_set {overflow:hidden; text-align:center;}
.function_block {display:inline-block; padding:0 0 30px 0; text-align:left; vertical-align:top;}
.function_title {font-size:26px; font-weight:normal; color:#007c91;}
.function_content {color:#424242; font-size:14px; line-height:1.3;}
.functions_left {float:left;}
.functions_right {float:right;}
.function_content img {display:block; max-width:100%; height:auto; margin:10px 0 0 0;}
.clipper_functions .function_block {width:326px;}
.clipper_functions .function_block .function_wrapper {padding:0 26px 0 0;}
.clipper_functions header {overflow:hidden; padding:0 0 6px 0;}
.clipper_functions .function_block .function_img {display:block; margin:0 10px 0 0; float:left;}
.clipper_functions .function_title {display:block; padding:6px 0 0 0;}
.note_functions .function_title {font-size:18px; padding:0;}
.note_functions .function_wrapper {padding:0 20px 0 32px; position:relative;}
.note_functions .function_img {display:block; position:absolute; left:0; top:4px;}
.note_functions  header {padding:0 0 8px 0;}
.note_functions .function_content {font-size:12px;}
.note_functions .functions_left {width:67%;}
.note_functions .functions_left .function_block {width:50%; display:block; float:left;}
.note_functions .functions_right {width:30%;}
.note_functions .functions_right .function_wrapper {padding-right:0;}
.screen_functions .function_block {width:326px;}
.screen_functions .function_block .function_wrapper {padding:0 10px;}
.screen_functions .function_title {display:block; font-size:18px; padding:0 0 10px 0;}
.screen_functions .function_content {font-size:12px;}
.screen_functions .function_block:last-child .function_wrapper {padding:0;}

/*get_nimbus*/
.get_nimbus {background:url(../images/bg.jpg) repeat top center #4fb8a3; padding:32px 0; text-align:center;}
.get_nimbus_title {font-size:18px; font-weight:normal; color:#fff; padding:0 0 3px 0;}
.get_nimbus_links a {margin:9px;}

/*usefull_links*/
.usefull_links {border-top:3px solid #fff; background:#f2f2f2; text-align:center;}
.usefull_link {display:inline-block; font-size:16px; font-weight:normal;}
.usefull_link a {display:block; height:55px; line-height:55px; padding:0 40px;}
.usefull_link a:hover {color:#000;}

/*clipper single img*/
.clipper_single_img {position:relative; height:662px; width:100%; background:url(../images/slider/clipper.jpg) no-repeat 50% 40px;}
.clipper_slingle_text {position:absolute; left:12px; top:40px; line-height:1.5; font-size:15px; font-weight:bold;}
.carousel_clipper {height:auto;}

/******************************************* slider morda!!! *************/
.top_item_note .top_title_2 {width:187px; height:60px;}
.top_item_screen .top_title {font-size:55px; width:580px;}
.top_item_screen .top_title_2 {width:256px; height:60px;}
.top_item_clipper .top_title_2 {width:160px; height:60px;}
.top_item_save .top_title_2 {width:335px; height:130px;}
.top_item_group .top_title_2 {width:310px; height:130px;}
.top_item_research .top_title_2 {width:320px; height:130px;}
.rw-words{  position: absolute; left:0; top:0;  -webkit-perspective: 800px; -moz-perspective: 800px;  -o-perspective: 800px;  -ms-perspective: 800px; perspective: 800px;}
#top_carousel .active .rw-words span {  position: absolute; left:0; top:-7px; opacity: 1; -webkit-animation: rotateWord 15s linear; -moz-animation: rotateWord 15s linear;  -o-animation: rotateWord 15s linear;  -ms-animation: rotateWord 15s linear; animation: rotateWord 15s linear;}

@-webkit-keyframes rotateWord {
0% {-webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@-moz-keyframes rotateWord {
0% {-moz-animation-timing-function: ease-in; -moz-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-moz-animation-timing-function: ease-out; -moz-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@-o-keyframes rotateWord {
0% {-o-animation-timing-function: ease-in; -o-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-o-animation-timing-function: ease-out; -o-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@-ms-keyframes rotateWord {
0% {-ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@keyframes rotateWord {
0% {animation-timing-function: ease-in; transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {animation-timing-function: ease-out; transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}

/*single_page_content*/
.single_page_content {background:#f2f2f2; border-top:1px solid #d8d8d8; padding:30px 0;}
.style {line-height:1.5; font-size:16px;}
.style h1 {color:#000; font-size:23px; padding:0 0 20px 0;}
.style h2 {color:#000; font-size:21px; padding:0 0 20px 0;}
.style h3 {color:#000; font-size:19px; padding:0 0 20px 0;}
.style h4 {color:#000; font-size:18px; padding:0 0 20px 0;}
.style h5 {color:#000; font-size:17px; padding:0 0 20px 0;}
.style h6 {color:#000; font-size:16px; padding:0 0 20px 0;}
.style p {padding:0 0 20px 0; clear:both;}
.style img {max-width:100%; height:auto; margin:0 0 20px 0;}
.style pre {padding:10px; border:1px solid #177f91; border-radius:4px; background:#fefefe; margin:0 0 20px 0;}
.style ul {padding:0 0 15px 0;}
.style ul li ul {padding:0 0 0 15px;}
.style ul li {list-style:none; padding:0 0 5px 20px; position:relative;}
.style ul li:before {content:""; display:block; position:absolute; left:0; top:10px; width:8px; height:8px; background:#177f91; border-radius:4px;}

/*contactForm*/
#contactForm {}#contact_form .contacts_form_block {padding:10px 0 10px 200px; min-height:30px; position:relative;}
#contact_form .contacts_form_block .contacts_form_label {min-height:1px; display:block; position:absolute; left:0; top:10px;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_text,#contact_form .contacts_form_block .contacts_form_field textarea {display:block; height:30px; line-height:30px; padding:0 10px; width:30%; border:1px solid #aaa; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  box-shadow:inset 2px 2px 2px #eee;}
#contact_form .contacts_form_block .contacts_form_field textarea {max-width:60%; min-width:60%; width:60%; height:150px; min-height:150px;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_text:hover,#contact_form .contacts_form_block .contacts_form_field textarea:hover {border-color:#999;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_text:focus,#contact_form .contacts_form_block .contacts_form_field textarea:focus {border-color:#777; box-shadow:1px 2px 2px rgba(0,0,0, 0.2);}
#contact_form .contacts_form_block .contacts_form_field select {padding:4px; border:1px solid #aaa;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_send {display:block; border:1px solid #484848; border-radius:4px; padding:10px 24px; box-shadow:inset 1px 1px 1px rgba(100, 100, 100, 1); position:relative; cursor:pointer; color:#fff; background: #515050;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_send:hover {background:#565656;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_send:active {background:#494949; box-shadow:inset 1px 1px 1px rgba(63, 63, 63, 1);}

/*install_product*/
.install_product {text-align:center; background:#fff; border-top:1px solid #d8d8d8; padding:20px 0;}
.install_product_top {border-bottom:1px solid #d8d8d8; border-top:none;}
.install_product_columns {overflow:hidden; margin:0 auto;}
.install_product_columns .install_product_column_left {float:left; width:50%;}
.install_product_columns .install_product_column_left p {font-size:21px; padding:0 20px; line-height:1.6;}
.install_product_columns .install_product_column_right {float:left; width:50%;}
.install_product_title {font-size:24px; line-height:1.6;}

/*plans*/
.plans {background:#fff; min-width:990px;}
.plans_top_text {text-align:center; font-size:18px; padding:25px 0; color:#1290a6; font-weight:bold;}
.plans_title {font-size:72px; color:#1290a6; font-weight:normal;}
.plans_line {min-width:990px; background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; height:58px;}
.plans_line_wrapper {width:820px; margin:0 auto; position:relative;}
.nimbus_standart, .nimbus_pro {position:absolute; right:0; width:236px; text-align:center; line-height:58px; height:58px; overflow:hidden; font-size:30px; color:#0b3e47;}
.nimbus_standart {right:256px;}
.plans_table_holder {position:relative; width:830px; margin:12px auto;}
.plans_table_holder:before {content:""; display:block; position:absolute; right:0; top:0; background:#f2f2f2; right:0; top:0; width:261px; height:100%; border-radius:4px;}
.plans_table_content {position:relative; z-index:12; padding:0 5px;}
.plans_table table {border-collapse:collapse; border-spacing:0; width:100%;}
.plans_table table tr td {vertical-align:middle; padding:20px 25px; text-align:center; font-size:17px; color:#323232; border-bottom:1px solid #d2d2d2; line-height:1;}
.plans_first {width:258px;}
.plans_second, .plans_third {width:206px;}
.plans_cell_text {width:200px; text-align:right;}
.plans_text_size {font-size:32px; color:#424242;}
.plans_text_size strong {color:#1290a6;}
.plans_text_size_text {font-size:22px; color:#1290a6; font-weight:bold;}
.plans_attach_type {vertical-align:middle; margin:0 5px;}
.plans_minus, .plans_plus {color:#1290a6; font-size:30px;}
.plans_table table .plans_last td {border-bottom:none; vertical-align:top;}
.plans_pricing_or {line-height:30px; font-weight:bold; text-align:center; font-size:16px; color:#565555;}
.plans_table table .plans_last td .plans_cell_text {font-size:30px; color:#1290a6;}
.plans_table .button span, .plans_table .button2 span {font-size:16px; font-weight:bold; text-transform:none;}
.everhelper_pro {position:relative; z-index:10;}
.everhelper_pro_text {border:1px solid #bbb; text-align:center; height:23px; border-radius:3px; background:url(../images/plans_everhelper.png) no-repeat 50% 9px; padding:35px 0 0 0; font-size:18px; color:#1290a6; font-weight:bold; position:relative; z-index:12; line-height:21px; cursor:pointer;}
.evehelper_popup {position:absolute; bottom:58px; z-index:10; border:2px solid #b3b3b3; background:#fff; border-radius:6px; width:350px; left:50%; margin:0 0 0 -177px; box-shadow:inset 2px 2px 3px rgba(0,0,0, 0.06); padding:15px 0; display:none;}
.everhelper_popup_close {position:absolute; right:6px; top:6px; cursor:pointer; background:none; border:none; display:block;}
.everhelper_popup_close span {background:#1290a6; width:22px; height:22px; line-height:20px; border-radius:3px; font-size:14px; text-align:center; font-weight:bold; color:#fff; display:block;}
.everhelper_popup_close:hover span {background:#19a1b9;}
.everhelper_popup_close:active span {background:#1895ab; box-shadow:inset 1px 1px 1px rgba(24, 135, 155, 0.75);}
.everhelper_popup_content {width:276px; margin:0 auto; background:url(../images/everhelper.png) no-repeat top center; padding:65px 0 0 0; font-size:13px; color:#424242; text-align:left; line-height:1.3;}
.everhelper_popup_more {text-align:center; padding:15px 0 0 0;}
.everhelper_pro_active .evehelper_popup {display:block;}
.everhelper_pro_active .everhelper_pro_text {border:2px solid #b3b3b3; background-color:#fff; border-top:none; border-radius:0 0 3px 3px; line-height:23px; background-position:50% 10px; cursor:default;}
.plans_table_upgrade_pro .plans_second {opacity:0.2;}
.plans_table_upgrade_pro .plans_last .plans_second {opacity:1; padding-left:0; padding-right:0;}

/*misc*/
.misc {padding:30px 0; min-height:1px; background:#f2f2f2;}
.misc_heading {font-size:24px; text-align:center; padding:0 0 30px 0; min-height:1px;}
.misc_block {padding:0 0 60px 84px; font-size:13px; line-height:1.5; position:relative;}
.misc_image {position:absolute; left:0; top:0; width:64px; height:64px; line-height:62px; text-align:center;}
.misc_image img {display:inline-block; max-height:100%; max-width:100%; height:auto; width:auto; vertical-align:middle;}
.misc_block_last {border-bottom:none;}
.misc_content {}
.misc_title {font-size:18px; padding:0 0 10px 0;}
.misc_text {padding:0 0 10px 0;}

/*f_blocks*/
.f_blocks {background:#fff;}
.f_block {padding:30px 0; overflow:hidden; border-bottom:1px solid #e4e4e4; position:relative; line-height:1.5;}
.f_block_last {border-bottom:none;}
.f_block_img {position:absolute; right:0; top:30px; width:458px; height:283px; line-height:280px;}
.f_block_img img {display:inline-block; max-width:100%; max-height:100%; width:auto; height:auto; vertical-align:middle;}
.f_block_content {padding:0 500px 0 0;}
.f_block_cell {height:283px; vertical-align:middle; display:table-cell; font-size:14px;}
.f_block_title {font-size:30px; color:#181818; padding:0 0 26px 0; font-weight:normal;}
.f_block_right .f_block_img {left:0; right:auto;}
.f_block_right .f_block_content {padding:0 0 0 500px;}
.f_block_text .f_block_content {padding:0;}
.f_block_text .f_block_cell {display:block; height:auto;}

/*form styles*/
.form_error .form_text {border-color:#c5553b;}
.form_text {display:block; width:100%; border:1px solid #dfdfdf; border-radius:4px; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:46px;}
.form_text:hover {border-color:#aaa;}
.form_text:focus {border-color:#888; box-shadow:0 0 3px rgba(0,0,0, 0.2);}

/*form_popup*/
.form_popup {position:relative; background:#fff; border-radius:5px; box-shadow: 0 0 1px 0px #000;}
.form_popup_close {position:absolute; cursor:pointer; width:35px; height:35px; border-radius:5px; top:2px; right:2px; background:#333839;}
.form_popup_close i {display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/close.png) no-repeat center;}
.form_popup_close:hover {background:#000;}
.form_popup_wrapper {padding:35px 70px; min-height:1px;}
.form_popup_title {text-align:center; font-size:32px; line-height:1; padding:0 0 20px 0; min-height:1px; color:#0b3e47;}
.form_popup_field {padding:0 0 10px 0; min-height:1px;}
.form_popup_submit {padding:20px 0 0 0; min-height:1px; text-align:center; line-height:1.5;}
.form_popup_submit_top {font-size:11px; color:#5b5b5b; padding:0 0 10px 0; min-height:1px;}
.form_popup_submit_bot {padding:10px 0 0 0; min-height:1px;}
.form_popup_submit .button_element {display:block; width:100%; font-size:14px; font-weight:bold;}
.form_error .form_error_field {border-color:#cc9e9e;}
.form_error_text {background:#c65d5d; padding:7px 15px; border-radius:3px; color:#fff; font-size:15px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_success_text {background:#a9d450; padding:7px 15px; border-radius:3px; color:#485d1d; font-size:14px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_error .form_error_text {display: block;}
.form_success .form_success_text {display: block;}
.form_wrapper input.wrong{  border: 1px solid #aa0000;  margin-bottom: 2px;}
.form_wrapper input.valid{  border: 1px solid #a9d450;  }
.form_wrapper label.wrong{  margin-bottom: 12px;  display: block;  color: #aa0000;}

/*tf_container*/
.tf_container {padding:50px 0 0 0; min-height:1px;}
.tf_set {}
.tf {float:left; width:50%; padding:0 0 40px 0; min-height:1px;}
.tf_wrapper {padding:10px 10px 10px 180px; min-height:1px; position:relative;}
.tf_img {position:absolute; left:10px; top:10px; width:140px; height:100px;}
.tf_img img {display:block; width:100%; height:100%;}
.tf_title {font-weight:normal; font-size:24px; color:#359fb7; padding:0 0 15px 0; min-height:1px;}

/*form*/
.form_container { padding:70px 0; min-height:1px;}
.form_container_popup {
  padding: 0;
}
.form {border:1px solid #dfdfdf; max-width:498px; min-width:308px; margin:0 auto; display: none;}
.form_container_popup .form {
  border: none;
}
.form_wrapper {padding:140px 90px 40px 90px; min-height:160px; background:#fff; position:relative;}
.form_container_popup .form_wrapper{
  padding: 100px 90px 0px 90px;
}

.form_logo {position:absolute; left:30%; top:30px; width:180px; height:90px; margin:0 0 0 -90px; background:url(/new-style-img/Nimbusnote_full_black.png) no-repeat 0px 0px; background-size:100% 100%;}
.form_container_popup .form_logo{
  width: 380px;
  height: 66px;
  top: 10px;
}
.form_logo img {display:block; width:100%; height:100%;}
.form_top_text {color:#5b5b5b; font-size:14px; padding:0 0 25px 0; min-height:1px; text-align:center;}

.form_text_separate {text-align:center; color:#b8b8b8; font-size:17px; font-weight:bold; height:36px; line-height:36px; position:relative;}
.form_text_separate:before {content:""; display:block; position:absolute; width:100%; left:0; top:18px; height:1px; background:#dfdfdf;}
.form_text_separate span {display:inline-block; background:#fff; padding:0 8px; position:relative; z-index:2;}
.form_links {padding:20px 0 0 0; text-align:center; font-size:13px; color:#000;}
.form_links a {color:#1290a6; text-decoration:none;}

.form_error .form_error_field {border-color:#cc9e9e;}
.form_error_text {background:#fff1f1; text-align:center; padding:12px 15px; border-radius:3px; color:#930000; font-size:15px; min-height:1px; margin:0 0 20px 0; display:none;}
.form_error .form_error_text {display:block;}

.form_text {display:block; width:100%; padding:0 20px; font-size:14px; background:#fff; border:1px solid #dfdfdf; border-radius:3px; margin:0 0 12px 0; height:44px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.form .button {width:100%; display:block; cursor:pointer; font-size:14px; text-transform:uppercase;}
.form .button span {padding:0 20px; line-height:44px; height:44px;}
.form_button_google span:before {content:""; display:block; position:absolute; left:0; top:0; width:57px; height:100%; background:url(../images/google_plus.png) no-repeat center; border-right:1px solid #fff;}

.form_checkbox {padding:8px 0 20px 0; min-height:1px;}
.form_checkbox_under {padding:14px 0; margin:0 0 -20px 0; text-align:center;}
.form_checkbox label {display:inline-block; line-height:22px; position:relative; padding:0 0 0 32px; font-size:14px; color:#5b5b5b; cursor:pointer;}
.form_checkbox label input {display:block; position:absolute; left:0; top:0; opacity:0; visibility:hidden;}
.form_checkbox label i {display:block; width:20px; height:20px; background:#fff; border-radius:3px; position:absolute; left:0; top:0; border:1px solid #dfdfdf;}
.form_checkbox label input:checked + i {background:url(../images/form_checkbox.png) no-repeat center #fff;}

.form_captcha {padding:0 0 16px 0;}
.form_notes_text {font-size:11px; color:#5b5b5b; padding:0 0 10px 0; min-height:1px; text-align:center;}
.form_notes_text a {color:#1290a6;}

.form_restore_text {font-size:14px; color:#5b5b5b; padding:0 0 25px 0; min-height:1px; text-align:center;}
.form_restored {font-size:20px; color:#1290a6; text-align:center;}
.form_restored span {display:block; font-size:14px; color:#676767; padding:10px 0 0 0;}

.form_permission {text-align:center; padding:0 0 45px 0; min-height:1px;}
.form_permission_top {padding:0 0 30px 0; font-size:14px;}
.form_permission_top_holder {display:inline-block; text-align:left;}
.form_permission_top_title {padding:0 0 5px 0;}
.form_permission_top ul li {display:block; list-style:none; position:relative; padding:0 0 0 30px; min-height:1px;}
.form_permission_top ul li:before {content:""; display:block; position:absolute; left:0; top:50%; margin:-5px 0 0 0; width:10px; height:10px; border-radius:50%; background:#1e95a6;}
.form_permission_text {font-size:11px;}
.form_permission_actions {text-align:center;}
.form_permission_actions .button {display:inline-block; vertical-align:top; width:auto; margin:0 5px;}
.form_permission_actions .button span {padding:0 10px; min-width:120px; text-align:center;}

/*social auth*/
.social_auth_icons {text-align:center;}

.social_auth_icon.button {width:auto; height:auto; display:inline-block; vertical-align:top;}
.social_auth_icon.button span {height:auto; padding:0;}
.social_auth_icon i {
  width:44px; height:44px; display:block; background-repeat: no-repeat; background-size: 32px 32px;
  background-position: center center;
}
.social_auth_icon_google i {background-image: url(../images/social-icons/google.svg);}
.social_auth_icon_facebook i {background-image: url(../images/social-icons/facebook.svg);}
