.mainForm label.wrong {
  position: static;
}

.mainForm table td {
  vertical-align: top;
}

.mainForm table td input {
  width: 250px;
}

.old-ie-field-label {
  padding-top: 4px;
  padding-right: 10px;
}

.mainForm {
  margin-top: 10px;
}