::-ms-reveal {
  display: none;
}

body{
  background: #fff;
  font-family: Arial;
}

#logo{
  background: url(//everhelper.me/client_files/images/top/logo.png) center center no-repeat;
  height: 50px; 
}

.mainForm{
  width: 350px;
  margin:auto;
  
  padding: 15px;
  
  background-color: rgba(0,0,0,0.05);  
  
  
  box-shadow: 0px 0px 10px -10px #000;
}

.mainForm > div, #initialForm > div, #resetPasswordForm > div{
  margin-top: 15px;
}

.field.last {
  margin-bottom: 15px;
}

.subscribeContainer{
  margin-top: 15px;
  text-align: center;
  padding-right: 20px;
}

.mainForm input.wrong{
  box-shadow: 0px 0px 5px 0px #FF0000;
}

.mainForm .field {
  position: relative;
}

.mainForm label.wrong {
  display: block;
  color: #ff0000;
  font-size: 8pt;
  position: absolute;
  left: 0px;
  bottom: -11px;
}

.mainForm .errorMessage{
  color: #ff0000;
  padding: 5px;
  display:none; 
}

.mainForm .errorMessage.appear{
  display: block;
}

.mainForm > div input[type="text"],
.mainForm > div input[type="password"],
.mainForm > div input[type="email"] {
  width: 333px;
  
  border: 1px solid #ACACAC;
  border-radius: 3px;
  
  font-size: 14px;
  padding: 8px;
}

.buttonContainer{
  text-align: center;
}

.loginButton, .restoreButton{
  border: 1px solid transparent;
  border-radius: 3px;
  
  background: #3169F5;
  
  color: #fff;
  
  font-weight: 400; 
  box-shadow: 0px 1px 0px 0px #cacaca;
  cursor: pointer;
  
  font: 14px/26px;
  
  line-height: 23px;
  
  padding: 3px;
  width: 100px;
  
  margin-top: 20px;
  text-decoration: none;
}

.greenButton{
  color: #fff;
  background: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
  background: -webkit-linear-gradient(top , #7FBF4D, #63A62F);
  background: -ms-linear-gradient(center top , #7FBF4D, #63A62F);
  background: linear-gradient(top , #7FBF4D, #63A62F);
  text-shadow: none;
  border-color: #63A62F #63A62F #5B992B;
}

.restoreButton{
  width: 130px;
}

.registerLink{
  text-align: center;
  margin-top: 15px;
}

#recaptchaContainer > div{
  margin: auto;
}

#recaptchaContainer{
}

input{
  outline: none;
}

.terms{
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.browserIncompatibleContent{
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#passwordRestored{
  text-align: center;
  font-size: 30px;  
  margin: 40px;
  color: #008800;
}

#failRestorePassword{
  text-align: center;
  font-size: 30px;  
  margin: 40px;
  color: #880000;
}


.fieldStatsLine{
  text-align: center;
}

.fieldStatsLine fieldset{
  display: inline-block;
  width: 44%;
  vertical-align: top;
  min-height: 130px;
  
  text-align: left;
}

.statsTable{
  border-collapse: collapse;
}

div.centered{
  text-align: center;
}

.statsTable.centered{
  width: 300px;
  margin: auto;
}

.statsTable td{
  padding: 4px;
}

.statsTable td.loading{
  background: url(//everhelper.me/client_files/images/loading-small.gif) center center no-repeat; 
}



.statsTable .inBrowser td{
  border-top: 1px dashed #999;
}

.statsTable .count{
  font-weight: bold;
}

.logoutContainer{
  text-align: center;
}

.logoutContainer .loginButton{
  margin-top: 10px; 
} 


#currentAccountContainer{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

#currentAccountContainer .online{
  color: #008800;
}

#currentAccountContainer .account{
  font-size: 21px;
}

#currentAccountContainer .premium-title{
  color: #aa0000;
}

#premiumMessage > span,
#premiumMessage > div
{
  display: none;
}

#premiumMessage.accountIsPremium .premium{
  display: block;
}

#premiumMessage.accountIsNotPremium .getPremium{
  display: block;
}

#premiumMessage.accountIsNotPremium .getPremium a{
  text-decoration: none;
}

.premium-expires {
  font-size: 11px;
}

.loginButton.renew {
  color: #aa0000;
  margin-left: 5px;
}

#toEverhelperAccountButton span, #toNimbusAccountButton span{
  display: inline-block;
  padding-left: 19px;
  background: url(//everhelper.me/client_files/images/favicon.png) left center no-repeat;
}

.bottomActionButtons{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.bottomActionButtons.left{
  left: 10px;
  right: auto;
}

.bottomActionButtons > a{
  text-decoration: none;
  text-align: center;
}


.statsPage .statsMode{
  display: none;
}

.statsPage .statsMode.single{
  width: 400px;
  margin: auto;
}

.statsPage{
  padding-top: 150px;
}

.statsPage[addonKey="chrome_addon"], .statsPage[addonKey="ff_addon"], .statsPage[addonKey="notes"]{
  padding-top: 0px;
}

.statsPage[addonKey="chrome_tabsessions"], .statsPage[addonKey="ff_tabsessions"], .statsPage[addonKey="ie_sync"]{
  padding-top: 100px;
}

.signInWith{
  width: 358px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;  
  
  text-align: center;
}

.signInWith legend{
  color: #555;
  text-align: left;
}

.signInWith .button{
  width: 165px;
  height: 29px;
  /*background: url(//everhelper.me/client_files/images/signinwith.png) no-repeat;*/
  display: inline-block;
  background: rgb(28, 184, 65);
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  
  opacity: 0.7;
  -webkit-transition: 200ms opacity, 200ms -webkit-transform;
  -moz-transition: 200ms opacity, 200ms -moz-transform;
  -ms-transition: 200ms opacity, 200ms -ms-transform;
  transition: 200ms opacity, 200ms transform;
  cursor: pointer;
  outline: none;
}

.signInWith .button:active {
  box-shadow: inset 0px 0px 5px -2px #000;
  outline: none;
}

.signInWith .button:hover{
  opacity: 1;
}

.form_container > .form {
  display: none;
}

.form_error_text {
  color: #ff0000;
  display: none;
}

.form_success_text {
  color: #00dd00;
  display: none;
}

.form_success .form_success_text {
  display: block; 
}

.form_error .form_error_text {
  display: block;
}


/*social auth*/

.social_auth_icons {
  text-align: center;
}

.social_auth_icon.button {
  width: auto;
  height: auto;
  display: inline-block;
}
.social_auth_icon span {
  height: auto;
  padding: 5px;
}
.social_auth_icon i {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.social_auth_icon_google i{
  background: url(../images/social-icons/google.svg) no-repeat;
  background-size: 20px 20px;
}

.social_auth_icon_facebook i{
  background: url(../images/social-icons/facebook.svg) no-repeat;
  background-size: 20px 20px;
}

.text-center {
  text-align: center;
}

