@media only screen and (min-width:980px) and (max-width:1170px){
  .top_title{font-size:30px;}
  .form_popup_wrapper {padding: 35px;}

  .product_left{}
  .product_right{}
  .feature_float .clear{display:none;}
  .feature_float .feature_img{margin:0 auto;float:none;}
  .feature_float .feature_content_holder{float:none;width:100%;text-align:center;}
}
@media only screen and (max-width:980px){
  .title{font-size:45px;}
  .menu{display:block;}
  .main_menu{display:none;}
  .top_holder{padding:70px 0;}
  .top_img{float:none;margin:0 auto 70px;}
  .top{width:100%;float:none;}
  .top_clear{display:none;}
  .top_content{overflow:hidden;}
  .install_product_columns .install_product_column_left,.install_product_columns .install_product_column_right{width:100%;padding:10px 0;}
  .product_left{position:relative;top:auto;margin:0 0 20px 0 !important;text-align:center;height:auto !important;padding:0;}
  .product_right{float:left;width:100%;text-align:center;}
  .product_right .product_right_links a,
  .product_right .product_right_links .button,
  .product_right_or {display:inline-block;margin:5px;float:none;}
  .functions .function_block{width:100%;display:block;float:left;}
  .note_functions .functions_left{width:100%;}
  .note_functions .functions_right{width:100%;}
  .note_functions .functions_left .function_block{width:100%;}
  .form_popup_wrapper{padding:35px;}
  #contact_form .contacts_form_block{padding:10px 0;}
  #contact_form .contacts_form_block .contacts_form_label{position:relative;left:auto;top:auto;padding:0 0 10px 0;min-height:1px;}
  #contact_form .contacts_form_block .contacts_form_field .contacts_form_text, #contact_form .contacts_form_block .contacts_form_field textarea{width:100%;max-width:100%;min-width:100%;}
  .feature_float .clear{display:none;}
  .feature_float .feature_img{margin:0 auto;float:none;}
  .feature_float .feature_content_holder{float:none;width:100%;text-align:center;}
  .feature_default .feature_img img{max-width:100%;height:auto;}
  .we_social_title{display:block;text-align:center;}
  .wrap_it_all{min-height:1px;height:auto;}
  .empty{display:none;}
  .site_footer{margin:0;height:auto;}
  .footer_menus{padding:25px 0;width:100%;}
  .footer_menus .footer_menu{text-align:center;}
  .footer_cards{float:none;padding:25px 0;text-align:center;position:relative;top:0;right:auto;}
  .footer_cards .footer_cards_block{display:inline-block;vertical-align:top;margin:0 4px;float:none;}
  .footer_cards .clear{display:none;}
  .copy{position:relative;}
  .f_block_img{position:relative;left:auto;right:auto;top:auto;margin:0 auto;text-align:center;}
  .f_block_content{padding:30px 0 0 0 !important;text-align:center;}
  .f_block_cell{display:block;height:auto;}
  .tf{float:none;width:100%;}
  .tf_set_clear{display:none;}
  .tf_text br{display:none;}
  .form_wrapper{padding:140px 20px 20px 20px;}
  .form_logo{width:270px;height:47px;background-size:100% 100% !important;margin:0 0 0 -80px;}
  .button_text_holder span{height:auto;line-height:1;}
  .button_text{display:table-cell;width:100%;height:42px;padding:5px 0;vertical-align:middle;font-style:normal;line-height:1.3;}

  .carousel .mycarousel_item {
    background-size: 90% auto !important;
    background-position: center bottom;
  }
  .carousel .mycarousel_item h2 {
    position: relative;
    top: auto;
    margin: 0 0 20px 0;
  }
  .carousel .mycarousel_item p {
    left: auto !important;
    top: auto !important;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 1px #fff;
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    background: rgba(255,255,255, 0.8);
  }
  .carousel .mycarousel_item.carousel_item_dark p {
    color: #3e4849;
  }
}
@media only screen and (min-width:768px) and (max-width:980px){
  .footer_menus .footer_menu{width:25%;}
}
@media only screen and (max-width:768px){
  .carousel .mycarousel_item {height: 480px;}
  .carousel .mycarousel_item h2 {
    font-size: 24px;
    font-weight: bold;
  }
  .carousel .mycarousel_item p br {display: none;}
  .slick-arrow {display: none !important;}

  .property_block {width: 100%;}

  .page-menu-content,
  .pages_menu {width: 100%;}
  .pages_menu {order: 1; margin: 0 0 20px 0}
  .page-menu-content {order: 2; padding: 0 0 20px 0;}

}

@media only screen and (max-width:600px){
  .carousel .mycarousel_item {
    height: 380px;
    background-position: bottom center;
  }
}

@media only screen and (min-width:480px) and (max-width:768px){
  .title{font-size:40px;}
  .header_buttons{display:none;}
  .top_title{font-size:32px;}
  .top_img{width:440px;height:387px;}
  .top_img_part_1{width:228px;height:139px;left:70px;top:195px;}
  .top_img_part_2{width:43px;height:78px;left:388px;top:263px;}
  .product_left .product_title{background:none !important;padding:0 !important;line-height:1.5 !important;margin:0 !important;min-height:1px !important;}
  .feature_title{font-size:32px;}
  .feature_capture .feature_img{width:440px;height:260px;}
  .feature_share .feature_img{width:350px;height:200px;}
  .feature_content p br{display:none;}
  .we_social_title{font-size:32px;}
  .footer_menus .footer_menu{width:50%;padding:0 0 40px 0;min-height:1px;}
}

@media only screen and (max-width:600px){
  .logo {order: 2;}
  .menu {
    order: 1;
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
  }
}

@media only screen and (max-width:480px){
  .form_logo{width:270px;height:47px;background-size:100% 100% !important;margin:0 0 0 -94px;}
  .title{font-size:35px;}

  .header_buttons{display:none;}

  .top_title{font-size:22px;}
  .top_img{width:250px;height:187px;}
  .top_img_part_1{height:77px;left:42px;top:95px;width:126px;}
  .top_img_part_2{height:43px;left:220px;top:133px;width:23px;}
  .we_social_title{font-size:22px;}
  .product_left .product_title{background:none !important;padding:0 !important;line-height:1.5 !important;margin:0 !important;}
  .feature_title{font-size:28px;}
  .feature_capture .feature_img{width:100%;height:auto;}
  .feature_share .feature_img{width:100%;height:auto;}
  .feature_content p br{display:none;}
  .footer_menus .footer_menu{width:100%;padding:0 0 40px 0;min-height:1px;text-align:center;}
  .footer_menus .footer_menu .footer_menu_wrapper{padding:0;}
  .footer_menu_clear{display:none;}
  .copy{line-height:1.5;height:auto;padding:10px 0;}
  .f_block_img{width:100%;height:auto;line-height:1;}
  .f_block_img img{}
  .f_block_title{font-size:24px;}
  .tf_wrapper{padding:10px;text-align:center;}
  .tf_img{position:relative;left:auto;top:auto;margin:0 auto 10px;}

  .carousel .mycarousel_item p {
    padding: 0 10px;
    font-size: 14px;
    font-weight: normal;
  }
}
