html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
button::-moz-focus-inner {padding:0; border:0}
input:focus, select:focus, textarea:focus, button:focus {outline:none;}
input, textarea, button {border-radius:0; font-family:'Open Sans', Verdana, Arial, sans-serif; font-size:13px;}
textarea, input, label, a,
.animated {
-webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
     -o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
        transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.non_animated {-webkit-transition: none !important;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: none !important;  /* Firefox 4-15 */
     -o-transition: none !important;  /* Opera 10.50–12.00 */
        transition: none !important;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.hidden {overflow:hidden; visibility:hidden; opacity:0; display:none;}
input:focus::-webkit-input-placeholder {color:transparent !important; opacity:0 !important;}
input:focus:-moz-placeholder {color:transparent !important; opacity:0 !important;}
input:focus::-moz-placeholder {color:transparent !important; opacity:0 !important;}
input:focus:-ms-input-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus::-webkit-input-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus:-moz-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus::-moz-placeholder {color:transparent !important; opacity:0 !important;}
textarea:focus:-ms-input-placeholder {color:transparent !important; opacity:0 !important;}
* {margin:0; padding:0;}img {border:0;}
.clear {clear:both; line-height:0; height:0; font-size:1px;}
.wrapper {
  max-width: 1170px;
  min-width: 320px;
  padding:0 15px;
  position:relative;
  margin:0 auto;
  box-sizing: border-box;
}
body {background:#fff; font:15px 'Open Sans', Verdana, Arial, sans-serif; color:#3e4849; line-height:1.5; -webkit-font-smoothing:antialiased;}
a {text-decoration:none; color:#0081c5; outline:none; cursor:pointer;}
a:hover {text-decoration:none;}

.clearfix:before,
.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

html,body {height:100%;}
.wrap_it_all {min-height:100%;}
* html .wrap_it_all {height:100%;}

/*global*/
.white_bg {background:#fff !important;}
.align_center {text-align:center;}
.img_line {background:url(../images/new/image-iphone-hi-res.jpg) no-repeat center; height:210px; width:100%; background-size: cover;}
.main_page .center {width:auto; max-width:1140px; min-width:990px;}
.bg_divider {background:url(../images/bg.jpg) repeat top center #4fb8a3; height:16px;}
.bg_white {background:#fff !important;}
.single_page_lyaout {background:#f2f2f2;}
.title {text-align:center; font-size:60px; padding:0 0 50px 0; min-height:1px; font-weight:normal;}

/*buttons*/
.product_right_links_small .buttons {font-size:15px;}
.product_right_links_small .buttons span {padding-right:12px;}
.buttons {display:inline-block; vertical-align:top; position:relative; border:none; background:none; cursor:pointer; text-decoration:none; font-size:13px; color:#fff;}
.buttons span {display:block; padding:0 18px; height:30px; line-height:28px; border-radius:3px; background:#3d4748;}
.buttons:hover {text-decoration:none;}
.buttons:hover span {background:#303738;}
.buttons:active span {background:#1e2223;}
.buttons_big {font-size:16px;}
.buttons_big span {height:52px; line-height:52px; padding:0 16px; border-radius:5px;}
.buttons_medium {font-size:14px;}
.buttons_medium span {height:42px; line-height:42px; padding:0 16px; border-radius:5px;}
.buttons_fit {width:100%; font-weight: bold;}
.buttons_fit span {padding:0; text-align:center;}
.buttons_fit:hover{color: #fff;}
.form_buttons span {background:#359fb7;}
.buttons_blue span {background:#359fb7;}
.form_buttons:hover span {background:#1895ab;}
.buttons_blue:hover span {background:#1895ab;}
.buttons_blue:active span {background:#19a1b9;}
.buttons_white {color:#3e4849;}
.buttons_white span {background:#f1f1f1;}
.buttons_white:hover span {background:#e5e5e5;}
.buttons_white:active span {background:#ccc;}
.buttons_green span {background:#47af98;}
.buttons_green:hover span {background:#4fbca4;}
.buttons_green:active span {background:#47af98;}

.buttons_text {font-style:normal;}

/*button icons*/
.ico_chrome span:before {content:""; display:block; position:absolute; width:62px; height:39px; background:url(../images/ico_chrome.png) no-repeat 0px 0px; left:7px; bottom:0;}
.ico_ff span:before {content:""; display:block; position:absolute; width:65px; height:39px; background:url(../images/ico_ff.png) no-repeat 0px 0px; left:6px; bottom:0;}
.ico_android span:before {content:""; display:block; position:absolute; width:61px; height:42px; background:url(../images/ico_android.png) no-repeat 0px 0px; left:10px; bottom:0;}
.ico_web span:before {content:""; display:block; position:absolute; width:77px; height:36px; background:url(../images/ico_web.png) no-repeat 0px 0px; left:9px; bottom:0;}
.ico_pc span:before {content:""; display:block; position:absolute; width:73px; height:41px; background:url(../images/ico_pc.png) no-repeat 0px 0px; left:10px; bottom:0;}
.ico_ios span:before {content:""; display:block; position:absolute; width:62px; height:42px; background:url(../images/ico_ios.png) no-repeat 0px 0px; left:9px; bottom:0;}
.ico_opera span:before {content:""; display:block; position:absolute; width:64px; height:40px; background:url(../images/ico_opera.png) no-repeat 0px 0px; left:9px; bottom:0;}
.ico_edge span:before {content:""; display:block; position:absolute; width:63px; height:43px; background:url(../images/ico_edge.svg) no-repeat 0px 0px; left:7px; bottom:0;}
.ico_safari span:before {content:""; display:block; position:absolute; width:63px; height:43px; background:url(../images/ico_safari.svg) no-repeat 0px 0px; left:7px; bottom:0;}


.ico_chrome span {padding-left:52px;}
.ico_ff span {padding-left:56px;}
.ico_android span {padding-left:56px;}
.ico_web span {padding-left:68px;}
.ico_pc span {padding-left:66px;}
.ico_ios span {padding-left:55px;}
.ico_opera span {padding-left:54px;}
.ico_edge span {padding-left:56px;}
.ico_safari span {padding-left:56px;}


/*header*/
.site_header {
  position:relative;
  z-index:20;
  background:#fff;
}
.header-layout {margin: 0 -8px;}
.site_header .wrapper {}
.header_top {padding: 8px;}
.logo {
  width:68px;
  height:40px;
}
.logo a,
.logo img {
  display:block;
  width:200%;
  height:100%;
}
/* .header_buttons {padding: 8px;}
.header_buttons .button {
  display:block;
  float:left;
  margin:0 0 0 8px;
} */

/*menu*/
.menu_hidden .menu {display:none;}
.menu {
  margin: 0 0 0 16px;
  z-index:10;
  display:none;
  position: relative;
}
/* .menu_button {position:relative; background:none; border:none; cursor:pointer; padding:10px; left:0; top:0;}
.menu_button:hover {background:#efefef;}
.menu_button:active {box-shadow:inset 0 0 5px rgba(0,0,0, 0.125);}
.menu_button span {display:block; width:22px; height:15px;}
.menu_button span img {display:block; width:100%; height:100%;}
.menu_wrapper {position:absolute; top:100%; left:0; width:100%;}
.menu_holder {position:relative; width: 320px; visibility:hidden; opacity:0; height:0; overflow:hidden;}
.menu_overlay {display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:#333839; opacity:0.95;}
.menu_content {position:relative; z-index:5; padding:55px 15px 15px 15px; min-height:1px;}
.menu_close {display:block; position:absolute; left:15px; top:15px; cursor:pointer; width:18px; height:18px; line-height:18px; color:#fff;}
.menu_close img {display:block;}
.menu_close:hover {opacity:0.8;}
.menu_close:active {top:16px;}
.menu_nav {text-align:center; padding:0 0 50px 0; min-height:1px;}
.menu_nav ul li {display:block; padding:10px 0 11px 0; min-height:1px; list-style:none; position:relative; font-size:22px; font-weight:bold;}
.menu_nav ul li:before {content:""; display:block; position:absolute; left:50%; margin:0 0 0 -15%; bottom:0; width:30%; background:#4e5a5b; height:1px;}
.menu_nav ul li:last-child:before {display:none;}
.menu_nav ul li a {color:#359fb7;}
.menu_nav ul li a:hover {color:#fff;}
.menu_actions .button {font-size:18px; display:block; margin:0 0 20px 0;}
.menu_open .menu_button {background:#efefef;}
.menu_open .menu_holder {visibility:visible; opacity:1; overflow:inherit; height:auto;} */

/*main menu*/
.menu_hidden .main_menu {display:none;}
.main_menu {
  text-align:center;
  min-height:1px;
  padding: 8px 0;
}
.main_menu ul li {display:inline-block; list-style:none; vertical-align:top; height:56px; position:relative;}
.main_menu ul li a {display:block; height:56px; line-height:56px; padding:0 16px; font-size:16px; color:#595959;}
.main_menu ul li a:hover {color:#000;}
.main_menu ul li ul {position:absolute; left:0; top:48px; padding:1px; background:#4fbca4; width:329px; text-align:left; display:none; box-shadow:0 8px 8px rgba(0, 0, 0, 0.5);}
.main_menu ul li ul li {display:block; vertical-align:top; height:auto;}
.main_menu ul li ul li a {padding:12px 16px; font-size:14px; line-height:1.4; height:auto; color:#fff; font-weight:bold;}
.main_menu ul li ul li a:hover {background:#449f8b;}
.main_menu ul li.menu_parent:hover {background:#4fbca4;}
.main_menu ul li.menu_parent:hover a {color:#fff;}
.main_menu ul li.menu_parent:hover ul {display:block;}
.main_menu ul li ul.menu_products {padding:22px 1px;}
.main_menu ul li ul.menu_products li a {padding:0 0 0 90px; line-height:63px; height:63px; color:#fff;}
.main_menu ul li ul.menu_products li.menu_products_clipper a {background:url(../images/clipper3.png) no-repeat 29px center;}
.main_menu ul li ul.menu_products li.menu_products_note a {background:url(../images/note3.png) no-repeat 30px center;}
.main_menu ul li ul.menu_products li.menu_products_screen a {background:url(../images/screenshots3.png) no-repeat 31px center;}
.main_menu ul li ul.menu_products li a:hover {background-color:#449f8b; color:#fff;}

/*top*/
.top_global {
  background:url(../images/new/top.jpg) repeat-y top center #4fb8a3;
  background-size: cover;
  transition: all 0.1s ease-out;
}
.top_holder {
  position:relative;
  padding:45px 0;
  min-height:600px;
}
.top_img {position:relative; width:607px; height:447px;}
.top_img_main {display:block; position:absolute; left:0; top:0; width:100%; height:100%;}
.top_img_main img {display:block; width:100%; height:100%;}
.top_img_part {position:absolute; left:0; top:0; background:#fff;}
.top_img_part img {display:block; width:100%; height:100%;}
.top_img_part_1 {width:306px; height:187px; left:102px; top:225px;}
.top_img_part_2 {width:59px; height:104px; left:528px; top:317px;}
.top {
  color:#fff;
  padding: 0 20px;
	max-width:460px;
}
.top_content_article {visibility:visible; overflow:inherit; opacity:1; height:auto; top:auto; position:relative;}
.top_title {font-weight:normal; font-size:34px; text-align:center; line-height:1.3; padding:0 0 30px 0; min-height:1px;}
.top_actions {width:260px; margin:0 auto; padding:0 0 40px 0; min-height:1px;}
.top_text {float:left;}
.top_actions_or {font-size:16px; color:#fff; position:relative; text-align:center; text-transform:uppercase; height:40px; line-height:40px;}
.top_actions_or:before,.top_actions_or:after {content:""; display:block; position:absolute; left:0; top:50%; height:1px; width:42%; background:#fff;}
.top_actions_or:after {left:auto; right:0;}
.top .form_popup {visibility:hidden; overflow:hidden; opacity:0; height:0px; top:-30px; position:relative;}
.top_popup_active .top_content_article {visibility:hidden; overflow:hidden; opacity:0; height:0px; top:-30px;}
.top_popup_active .form_popup {visibility:visible; overflow:inherit; opacity:1; height:auto; top:0;}

/*features*/
/* .feature {background:#fff;}
.feature_wrapper {position:relative; padding:75px 0; min-height:1px;}
.feature_img {float:right;}
.feature_right .feature_img {float:left;}
.feature_img img {display:block; width:100%; height:100%;}
.feature_content_holder {width:470px; float:left;}
.feature_right .feature_content_holder {float:right;}
.feature_content {font-size:15px; color:#3e4849; padding:30px 0 0 0;}
.feature_title {font-size:42px; font-weight:normal; padding:0 0 35px 0; min-height:1px;}
.feature_content p {padding:0 0 30px 0; min-height:1px;}
.feature_default {text-align:center;}
.feature_default .feature_wrapper {min-height:1px; padding:0;}
.feature_default .feature_img {position:relative; line-height:0; width:100%; text-align:center; float:none;}
.feature_default .feature_img img {display:inline-block; width:auto; height:auto;}
.feature_default .feature_content_holder {float:none; width:100%; padding:0 0 20px 0; min-height:1px;}
.feature_download_button {background:url(../images/new/main_page/main_page_platforms.png) no-repeat bottom center; padding:0 0 40px 0; min-height:1px;}
.feature_download_button .button span {padding:0 32px;}
.feature_capture .feature_img {width:540px; height:360px;}
.feature_share .feature_img {width:450px; height:300px;}
.feature_share {background:url(../images/new/main_page/main_page_share_bg.jpg) no-repeat center; background-size:cover;} */

/*we_social*/
.we_social {background:#009fb7; padding:20px 0; min-height:1px; text-align:center; overflow:hidden; line-height:1;}
.we_social_title {display:inline-block; margin:10px 20px; font-size:36px; color:#fff; vertical-align:middle;}
.we_social_link {display:inline-block; margin:10px; overflow:hidden; position:relative; vertical-align:middle;}
.we_social_link a {display:block; text-indent:-9999px; position:absolute; left:0; top:0; width:100%; height:100%;}
.we_social_link a:hover {opacity:0.8;}
.we_social_tw {width:38px; height:31px;}
.we_social_tw a {background:url(../images/new/social/tw.svg) no-repeat 0px 0px;}
.we_social_fb {width:34px; height:34px;}
.we_social_fb a {background:url(../images/new/social/fb.svg) no-repeat 0px 0px;}
.we_social_gp {width:34px; height:33px;}
.we_social_gp a {background:url(../images/new/social/gp.svg) no-repeat 0px 0px;}
.we_social_yt {width:42px; height:30px;}
.we_social_yt a {background:url(../images/new/social/yt.svg) no-repeat 0px 0px;}
.we_social_vk {width:36px; height:36px;}
.we_social_vk a {background:url(../images/new/social/vk.svg) no-repeat 0px 0px;}


/*footer*/
.site_footer {width:100%; background:#efefef; min-width:320px; position:relative; border-top:1px solid #fff;}
.site_footer_divider {position:absolute; left:0; top:-16px; width:100%; background:url(../images/new/top.jpg) repeat top center #4fb8a3; height:16px; border-top:1px solid #d8d8d8; display:none;}
.single_page_lyaout .site_footer_divider {display:block;}
.single_page_lyaout .empty {height:244px;}
.footer_menus {padding:25px 0 0 0; min-height:1px; width:720px; margin:0 auto;}
.footer_menus .footer_menu {display:block; float:left; width:180px; text-align:left; font-size:14px;}
.footer_menus .footer_menu .footer_menu_wrapper {padding:0 5px;}
.footer_menus .footer_menu .footer_menu_title {font-size:14px; color:#3e4849; font-weight:normal; padding:0 0 15px 0; text-transform:uppercase;}
.footer_menus ul li {list-style:none; display:block; padding:0 0 4px 0; min-height:1px; font-size:13px;}
.footer_menus ul li a {color:#3e4849;}
.footer_menus ul li a:hover {color:#359fb7;}
.footer_cards {position:absolute; right:15px; top:25px; min-height:1px;}
.footer_cards_block {float:left; width:52px; height:32px; margin:0 0 0 4px;}
.footer_cards_block img {display:block; width:100%; height:100%;}
.copy {background:#fff; height:37px; line-height:37px; position:relative; width:100%; color:#4e4f4f; font-size:12px; text-align:center; text-transform:uppercase;}

/*questions*/
.questions {background:#f2f2f2; padding:35px 0 0 0; min-width:990px; min-height:1px;}
.plans_width {min-width:820px;}
.plans_width .center {width:820px;}
.main_page .questions {background:#fff;}
.questions_set {overflow:hidden;}
.question_block {padding:0 0 30px 0; min-height:1px;}
.question_title {padding:0 0 8px 0; font-size:27px; font-weight:normal; color:#00a0b7;}
.question_desc {line-height:1.5; font-size:14px;}

/*product*/
/* .product {background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}
.product_wrapper {padding:30px 0; min-height:1px; position:relative;}
.product_left {padding: 0 30px 0 0;}
.product_left .product_title {color:#047ba4; font-size:26px; font-weight:normal; line-height:1.2;}
.product_right_title {display:block; font-size:18px; color:#707070; font-weight:normal; padding:0 7px 3px 7px;}
.product_right_links {overflow:hidden;}
.product_right_links a,
.product_right_links .button {margin:7px; display:block; float:left;}
.product_standart .product_left {min-height:50px;}
.product_clipper .product_left .product_title {min-height:73px; padding:0 0 0 83px; background:url(../images/clipper2.png) no-repeat left center;}
.product_note .product_right_title {color:#007c91;}
.product_note .product_left .product_title {min-height:65px; padding:0 0 0 83px; background:url(../images/note2.png) no-repeat left center; color:#303030;}
.product_screen .product_left .product_title {min-height:67px; padding:0 0 0 83px; background:url(../images/screenshots2.png) no-repeat left center; color:#023180;} */

.product_right_winphone {}
.product_right_winphone .product_right_title {}
.product_right_winphone .product_right_links a {margin:0;}
.product_right_or {
  padding:7px;
  line-height: 1;
  font-size: 16px;
  float: left;
}

/* .product_full .product_links {text-align:center; font-size:0;}
.product_full .product_links .button {display:inline-block; vertical-align:top; margin:7px;}
.product_full .wrapper {max-width:inherit; text-align:center;} */

/*carousel*/
.carousel {
  background:#fff;
  position:relative;
  overflow: hidden;
}
.carousel .wrapper {
  max-width: 1140px;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-dotted {
  padding: 0 0 44px 0;
}
.carousel .mycarousel_item  {
  float: left;
  display:block;
  list-style:none;
  padding:30px 0 0 0;
  position:relative;/* IE 8 */
  transition: all 0.1s ease-out;
  height: 640px;
  width: 100%;
  -moz-transition: none !important;  /* Firefox 4-15 */
    -o-transition: none !important;  /* Opera 10.50–12.00 */
       transition: none !important;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.slick-initialized .mycarousel_item {opacity: 0.6;}
.carousel .mycarousel_item.slick-current {
  opacity: 1;
}
.slick-dots {
  position:absolute;
  bottom:15px;
  left:0;
  width:100%;
  height:14px;
  z-index:50;
  text-align:center;
  font-size: 0;
}
.slick-dots li {
  display:inline-block;
  text-indent:-9999px;
  cursor:pointer;
  margin:0 5px;
}
/* .slick-dots li button {
  display: block;
  background: #fff;
  border: 2px solid #359fb7;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px; */
/* }
.slick-dots li.slick-active button {
  background: #359fb7;
} */
.jcarousel-control span.active {background-position:0px 0px;}
.slick-arrow {
  position:absolute;
  display: block;
  width: 20%;
  height: 100%;
  z-index: 30;
  background: none;
  border: none;
  cursor: pointer;
  left: 0;
  top: 0;
  max-width: 260px;
}
.slick-next {
  left: auto;
  right: 0;
}
.slick-arrow span {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 80px;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  visibility: hidden;
}
.slick-arrow:hover {
  background: rgba(53, 159, 183, 0.2);
}
.slick-arrow:hover span {
  visibility: visible;
}
.carousel .mycarousel_item h2 {
  font-size:50px;
  color:#1290a6;
  font-weight:normal;
  position:absolute;
  left:0;
  top:20px;
  width:100%;
  text-align:center;
  line-height: 1.1;
}
.carousel .mycarousel_item p {display:block; position:absolute; line-height:1.5; font-size:15px; font-weight:bold;}
.carousel .mycarousel_item.carousel_item_dark p {color: #fff;}
.note_item_1 {background:url(../images/slider/note_1.jpg) no-repeat 50% 155px;}
.note_item_2 {background:url(../images/slider/note_2.jpg) no-repeat 50% 155px;}
.note_item_3 {background:url(../images/slider/note_3.jpg) no-repeat 50% 175px;}
.carousel .mycarousel_item.note_item_1 p {left:326px; top:145px;}
.carousel .mycarousel_item.note_item_2 p {left:96px; top:140px;}
.carousel .mycarousel_item.note_item_3 p {left:76px; top:135px;}
.carousel_screen {height:670px;}
.carousel_screen .mycarousel_item {height:640px;}
.screen_item_1 {background:url(../images/slider/screen_1.jpg) no-repeat 50% 144px;}
.screen_item_2 {background:url(../images/slider/screen_2.jpg) no-repeat 50% 175px;}
.screen_item_3 {background:url(../images/slider/screen_3.jpg) no-repeat 50% 175px;}
.carousel .mycarousel_item.screen_item_1 p {left:56px; top:345px;}
.carousel .mycarousel_item.screen_item_2 p {left:446px; top:160px;}
.carousel .mycarousel_item.screen_item_3 p {left:176px; top:175px;}

/*properties*/
.properties {background:#f2f2f2; padding:60px 0 0 0; min-height:1px;}
.properties_set {overflow:hidden;}
.property_block {float:left; width:50%; padding:0 0 60px 0; min-height:1px;}
.property_block_wrapper {position:relative; padding:0 40px 0 100px; min-height:90px;}
.property_img {position:absolute; left:0; top:0; height:90px; width:90px;}
.property_img img {display:inline-block; max-width:100%; max-height:100%; width:auto; height:auto; vertical-align:middle;}
.property_img_fit img {width: 100%;}
.property_title {padding:0 0 8px 0; font-size:22px; font-weight:normal; color:#00a0b7;}
.property_desc {line-height:1.5; font-size:14px;}

/*functions*/
.functions {background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; padding:30px 0 10px 0; min-height:1px; overflow:hidden;}
.functions_set {overflow:hidden; text-align:center;}
.function_block {display:inline-block; padding:0 0 30px 0; text-align:left; vertical-align:top;}
.function_title {font-size:26px; font-weight:normal; color:#007c91;}
.function_content {color:#424242; font-size:14px; line-height:1.3;}
.functions_left {float:left;}
.functions_right {float:right;}
.function_content img {display:block; max-width:100%; height:auto; margin:10px 0 0 0;}
.clipper_functions .function_block {width:326px;}
.clipper_functions .function_block .function_wrapper {padding:0 26px 0 0;}
.clipper_functions header {overflow:hidden; padding:0 0 6px 0;}
.clipper_functions .function_block .function_img {display:block; margin:0 10px 0 0; float:left;}
.clipper_functions .function_title {display:block; padding:6px 0 0 0;}
.note_functions .function_title {font-size:18px; padding:0;}
.note_functions .function_wrapper {padding:0 20px 0 32px; position:relative;}
.note_functions .function_img {display:block; position:absolute; left:0; top:4px;}
.note_functions  header {padding:0 0 8px 0;}
.note_functions .function_content {font-size:12px;}
.note_functions .functions_left {width:67%;}
.note_functions .functions_left .function_block {width:50%; display:block; float:left;}
.note_functions .functions_right {width:30%;}
.note_functions .functions_right .function_wrapper {padding-right:0;}
.screen_functions .function_block {width:326px;}
.screen_functions .function_block .function_wrapper {padding:0 10px;}
.screen_functions .function_title {display:block; font-size:18px; padding:0 0 10px 0;}
.screen_functions .function_content {font-size:12px;}
.screen_functions .function_block:last-child .function_wrapper {padding:0;}

/*get_nimbus*/
/* .get_nimbus {background:url(../images/new/bg.jpg) repeat top center #4fb8a3; padding:32px 0; text-align:center;}
.get_nimbus_title {font-size:18px; font-weight:normal; color:#fff; padding:0 0 3px 0;}
.get_nimbus_links {font-size:0;}
.get_nimbus_links a {margin:7px;}
.get_nimbus_links_medium .button_big {font-size:14px;}
.get_nimbus_links_medium .button_big span {padding-right:12px;} */

/*usefull_links*/
.usefull_links {border-top:3px solid #fff; background:#f2f2f2; text-align:center;}
.usefull_link {display:inline-block; font-size:16px; font-weight:normal;}
.usefull_link a {display:block; height:55px; line-height:55px; padding:0 40px;}
.usefull_link a:hover {color:#000;}

/*clipper single img*/
.clipper_single {
  padding: 30px 0;
}
.clipper_single_img {
  text-align: center;
  font-size: 0;
}
.clipper_single_img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.clipper_slingle_text {
  font-weight:bold;
  padding: 0 0 30px 0;
  text-align: left;
  font-size: 0;
}
.clipper_slingle_text_inner {
  text-align: left;
  font-size: 15px;
  line-height:1.5;
  display: inline-block;
}

/******************************************* slider morda!!! *************/
.top_item_note .top_title_2 {width:187px; height:60px;}
.top_item_screen .top_title {font-size:55px; width:580px;}
.top_item_screen .top_title_2 {width:256px; height:60px;}
.top_item_clipper .top_title_2 {width:160px; height:60px;}
.top_item_save .top_title_2 {width:335px; height:130px;}
.top_item_group .top_title_2 {width:310px; height:130px;}
.top_item_research .top_title_2 {width:320px; height:130px;}
.rw-words{	position: absolute;	left:0;	top:0;	-webkit-perspective: 800px;	-moz-perspective: 800px;	-o-perspective: 800px;	-ms-perspective: 800px;	perspective: 800px;}
#top_carousel .active .rw-words span {	position: absolute;	left:0; top:-7px; opacity: 1;	-webkit-animation: rotateWord 15s linear;	-moz-animation: rotateWord 15s linear;	-o-animation: rotateWord 15s linear;	-ms-animation: rotateWord 15s linear;	animation: rotateWord 15s linear;}

@-webkit-keyframes rotateWord {
0% {-webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@-moz-keyframes rotateWord {
0% {-moz-animation-timing-function: ease-in; -moz-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-moz-animation-timing-function: ease-out; -moz-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@-o-keyframes rotateWord {
0% {-o-animation-timing-function: ease-in; -o-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-o-animation-timing-function: ease-out; -o-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@-ms-keyframes rotateWord {
0% {-ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {-ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}
@keyframes rotateWord {
0% {animation-timing-function: ease-in; transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
5% {animation-timing-function: ease-out; transform: translateY(0px) translateZ(0px) rotateY(0deg);}
}

/*single_page_content*/
.single_page_content {background:#f2f2f2; border-top:1px solid #d8d8d8; padding:30px 0;}
.style {line-height:1.5; font-size:16px;}
.style h1,
.page_with_menu_title,
.page-title {color:#000; font-size:23px; padding:0 0 20px 0;}
.style h2 {color:#000; font-size:21px; padding:0 0 20px 0;}
.style h3 {color:#000; font-size:19px; padding:0 0 20px 0;}
.style h4 {color:#000; font-size:18px; padding:0 0 20px 0;}
.style h5 {color:#000; font-size:17px; padding:0 0 20px 0;}
.style h6 {color:#000; font-size:16px; padding:0 0 20px 0;}
.style p {padding:0 0 20px 0; clear:both;}
.style img {max-width:100%; height:auto; margin:0 0 20px 0;}
.style pre {padding:10px; border:1px solid #177f91; border-radius:4px; background:#fefefe; margin:0 0 20px 0;}
.style ul {padding:0 0 15px 0;}
.style ul li ul {padding:0 0 0 15px;}
.style ul li {list-style:none; padding:0 0 5px 20px; position:relative;}
.style ul li:before {content:""; display:block; position:absolute; left:0; top:10px; width:8px; height:8px; background:#177f91; border-radius:4px;}
.style .align-center,
.style.align-center {text-align: center;}

.page_with_menu {}
.page-menu-content {
	padding:0 20px 0 0;
}
.pages_menu {
  width: 35%;
	padding:0 20px;
	border-left:1px solid #ddd;
}
.pages_menu ul li {display:block; padding:0 0 20px 0; font-size:16px;}
.pages_menu ul li a {display:block;}
.pages_menu ul li a:hover,
.pages_menu ul li.current a {color:#000;}

/*contactForm*/
#contactForm {}#contact_form .contacts_form_block {padding:10px 0 10px 200px; min-height:30px; position:relative;}
#contact_form .contacts_form_block .contacts_form_label {min-height:1px; display:block; position:absolute; left:0; top:10px;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_text,#contact_form .contacts_form_block .contacts_form_field textarea {display:block; height:30px; line-height:30px; padding:0 10px; width:30%; border:1px solid #aaa; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  box-shadow:inset 2px 2px 2px #eee;}
#contact_form .contacts_form_block .contacts_form_field textarea {max-width:60%; min-width:60%; width:60%; height:150px; min-height:150px;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_text:hover,#contact_form .contacts_form_block .contacts_form_field textarea:hover {border-color:#999;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_text:focus,#contact_form .contacts_form_block .contacts_form_field textarea:focus {border-color:#777; box-shadow:1px 2px 2px rgba(0,0,0, 0.2);}
#contact_form .contacts_form_block .contacts_form_field select {padding:4px; border:1px solid #aaa;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_send {display:block; border:1px solid #484848; border-radius:4px; padding:10px 24px; box-shadow:inset 1px 1px 1px rgba(100, 100, 100, 1); position:relative; cursor:pointer; color:#fff; background: #515050;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_send:hover {background:#565656;}
#contact_form .contacts_form_block .contacts_form_field .contacts_form_send:active {background:#494949; box-shadow:inset 1px 1px 1px rgba(63, 63, 63, 1);}

/*install_product*/
.install_product {text-align:center; background:#fff; border-top:1px solid #d8d8d8; padding:20px 0;}
.install_product_top {border-bottom:1px solid #d8d8d8; border-top:none;}
.install_product_columns {overflow:hidden; margin:0 auto;}
.install_product_columns .install_product_column_left {float:left; width:50%;}
.install_product_columns .install_product_column_left p {font-size:21px; padding:0 20px; line-height:1.6;}
.install_product_columns .install_product_column_right {float:left; width:50%;}
.install_product_title {font-size:24px; line-height:1.6;}

/* plans*/
.plans {background:#fff; overflow: auto;}
.plans_top_text {text-align:center; font-size:18px; padding:25px 0; color:#1290a6; font-weight:bold;}
.plans_title {font-size:72px; color:#1290a6; font-weight:normal;}
.plans_line {min-width:990px; background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; height:58px;}
.plans_line_wrapper {width:820px; margin:0 auto; position:relative;}
.nimbus_standart, .nimbus_pro {position:absolute; right:0; width:236px; text-align:center; line-height:58px; height:58px; overflow:hidden; font-size:30px; color:#0b3e47;}
.nimbus_standart {right:256px;}
.plans_table_holder {position:relative; width:830px; margin:12px auto;}
.plans_table_holder:before {content:""; display:block; position:absolute; right:0; top:0; background:#f2f2f2; right:0; top:0; width:261px; height:100%; border-radius:4px;}
.plans_table_content {position:relative; z-index:12; padding:0 5px;}
.plans_table table {border-collapse:collapse; border-spacing:0; width:100%;}
.plans_table table tr td {vertical-align:middle; padding:20px 25px; text-align:center; font-size:17px; color:#323232; border-bottom:1px solid #d2d2d2; line-height:1;}
.plans_first {width:258px;}
/* .plans_second a{
  background-color: #000;
  padding: 21px 25px;
  font-size: 17px;
} */
.plans_second, .plans_third {width:206px;}
.plans_cell_text {width:200px; text-align:right;}
.plans_text_size {font-size:32px; color:#424242;}
.plans_text_size strong {color:#1290a6;}
.plans_text_size_text {font-size:22px; color:#1290a6; font-weight:bold;}
.plans_attach_type {vertical-align:middle; margin:0 5px;}
.plans_minus, .plans_plus {color:#1290a6; font-size:30px;}
.plans_table table .plans_last td {border-bottom:none; vertical-align:top;}
.plans_pricing_or {line-height:30px; font-weight:bold; text-align:center; font-size:16px; color:#565555;}
.plans_table table .plans_last td .plans_cell_text {font-size:30px; color:#1290a6;}
.plans_table .button span, .plans_table .button2 span {font-size:16px; font-weight:bold; text-transform:none;}
.everhelper_pro {position:relative; z-index:10;}
.everhelper_pro_text {border:1px solid #bbb; text-align:center; height:23px; border-radius:3px; background:url(../images/plans_everhelper.png) no-repeat 50% 9px; padding:35px 0 0 0; font-size:18px; color:#1290a6; font-weight:bold; position:relative; z-index:12; line-height:21px; cursor:pointer;}
.evehelper_popup {position:absolute; bottom:58px; z-index:10; border:2px solid #b3b3b3; background:#fff; border-radius:6px; width:350px; left:50%; margin:0 0 0 -177px; box-shadow:inset 2px 2px 3px rgba(0,0,0, 0.06); padding:15px 0; display:none;}
.everhelper_popup_close {position:absolute; right:6px; top:6px; cursor:pointer; background:none; border:none; display:block;}
.everhelper_popup_close span {background:#1290a6; width:22px; height:22px; line-height:20px; border-radius:3px; font-size:14px; text-align:center; font-weight:bold; color:#fff; display:block;}
.everhelper_popup_close:hover span {background:#19a1b9;}
.everhelper_popup_close:active span {background:#1895ab; box-shadow:inset 1px 1px 1px rgba(24, 135, 155, 0.75);}
.everhelper_popup_content {width:276px; margin:0 auto; background:url(../images/everhelper.png) no-repeat top center; padding:65px 0 0 0; font-size:13px; color:#424242; text-align:left; line-height:1.3;}
.everhelper_popup_more {text-align:center; padding:15px 0 0 0;}
.everhelper_pro_active .evehelper_popup {display:block;}
.everhelper_pro_active .everhelper_pro_text {border:2px solid #b3b3b3; background-color:#fff; border-top:none; border-radius:0 0 3px 3px; line-height:23px; background-position:50% 10px; cursor:default;}
.plans_table_upgrade_pro .plans_second {opacity:0.2;}
.plans_table_upgrade_pro .plans_last .plans_second {opacity:1; padding-left:0; padding-right:0;}

/*misc*/
.misc {padding:30px 0; min-height:1px; background:#f2f2f2;}
.misc_heading {font-size:24px; text-align:center; padding:0 0 30px 0; min-height:1px;}
.misc_block {padding:0 0 60px 84px; font-size:13px; line-height:1.5; position:relative;}
.misc_image {position:absolute; left:0; top:0; width:64px; height:64px; line-height:62px; text-align:center;}
.misc_image img {display:inline-block; max-height:100%; max-width:100%; height:auto; width:auto; vertical-align:middle;}
.misc_block_last {border-bottom:none;}
.misc_content {}
.misc_title {font-size:18px; padding:0 0 10px 0;}
.misc_text {padding:0 0 10px 0;}

/*f_blocks*/
.f_blocks {background:#fff;}
.f_block {padding:30px 0; overflow:hidden; border-bottom:1px solid #e4e4e4; position:relative; line-height:1.5;}
.f_block_last {border-bottom:none;}
.f_block_img {position:absolute; right:0; top:30px; width:458px; height:283px; line-height:280px;}
.f_block_img img {display:inline-block; max-width:100%; max-height:100%; width:auto; height:auto; vertical-align:middle;}
.f_block_content {padding:0 500px 0 0;}
.f_block_cell {height:283px; vertical-align:middle; display:table-cell; font-size:14px;}
.f_block_title {font-size:30px; color:#181818; padding:0 0 26px 0; font-weight:normal;}
.f_block_right .f_block_img {left:0; right:auto;}
.f_block_right .f_block_content {padding:0 0 0 500px;}
.f_block_text .f_block_content {padding:0;}
.f_block_text .f_block_cell {display:block; height:auto;}

/*form styles*/
.form_error .form_text {border-color:#c5553b;}
.form_text {display:block; width:100%; border:1px solid #dfdfdf; border-radius:4px; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:46px;}
.form_text:hover {border-color:#aaa;}
.form_text:focus {border-color:#888; box-shadow:0 0 3px rgba(0,0,0, 0.2);}

/*form_popup*/
/* .form_popup {position:relative; background:#fff; border-radius:5px; box-shadow: 0 0 1px 0px #000;}
.form_popup_close {position:absolute; cursor:pointer; width:35px; height:35px; border-radius:5px; top:2px; right:2px; background:#333839;}
.form_popup_close i {display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/close.png) no-repeat center;}
.form_popup_close:hover {background:#000;}
.form_popup_wrapper {padding:35px 70px; min-height:1px;}
.form_popup_title {text-align:center; font-size:32px; line-height:1; padding:0 0 20px 0; min-height:1px; color:#0b3e47;}
.form_popup_field {padding:0 0 10px 0; min-height:1px;}
.form_popup_submit {padding:20px 0 0 0; min-height:1px; text-align:center; line-height:1.5;}
.form_popup_submit_top {font-size:11px; color:#5b5b5b; padding:0 0 10px 0; min-height:1px;}
.form_popup_submit_bot {padding:10px 0 0 0; min-height:1px;}
.form_popup_submit .button_element {display:block; width:100%; font-size:14px; font-weight:bold;}
.form_error .form_error_field {border-color:#cc9e9e;}
.form_error_text {background:#c65d5d; padding:7px 15px; border-radius:3px; color:#fff; font-size:15px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_success_text {background:#a9d450; padding:7px 15px; border-radius:3px; color:#485d1d; font-size:14px; min-height:1px; margin:0 0 7px 0; display: none;}
.form_error .form_error_text {display: block;}
.form_success .form_success_text {display: block;}
.form_popup_wrapper input.wrong{  border: 1px solid #aa0000;  margin-bottom: 2px;}
.form_popup_wrapper input.valid{  border: 1px solid #a9d450;  }
.form_popup_wrapper label.wrong{  margin-bottom: 12px;  display: block;  color: #aa0000;} */

/*tf_container*/
.tf_container {padding:50px 0 0 0; min-height:1px;}
.tf_set {}
.tf {float:left; width:50%; padding:0 0 40px 0; min-height:1px;}
.tf_wrapper {padding:10px 10px 10px 180px; min-height:1px; position:relative;}
.tf_img {position:absolute; left:10px; top:10px; width:140px; height:100px;}
.tf_img img {display:block; width:100%; height:100%;}
.tf_title {font-weight:normal; font-size:24px; color:#359fb7; padding:0 0 15px 0; min-height:1px;}

/*message*/
.message {position:fixed; z-index:1000; left:0; width:100%; top:-54px;}
.message_appear {top:0;}
.message_block {width:100%; position:relative; text-align:center; font:0px;}
.message_bg {position:absolute; left:0; top:0; width:100%; height:100%; opacity:0.9; background:#414b4c;}
.message_text {display:inline-block; vertical-align:middle; position:relative; z-index:2; color:#fff; font-size:14px; line-height:54px; height:54px;}
.message_icon {position:absolute; display:block; left:0; top:50%; width:35px; height:35px; margin:-17px 0 0 0;}

.message_success .message_icon {background:url(../images/ic_modal_success_33.svg) no-repeat 0px 0px;}

/*popup*/
.overlayed body {position:relative; overflow:hidden;}
.popup_wrapper {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; display:none;}
.overaly {position:absolute; left:0; top:0; width:100%; height:100%; background:#333839; opacity:0.9; z-index:90; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);}
.popup {position:relative; width:100%; height:100%; left:0; top:0; overflow:auto; z-index:95;}
.popup_outer {display:table; height:100%; width:100%; position:absolute;}
.popup_cell {display:table-cell; vertical-align:middle;}
.popup_top .popup_cell {vertical-align:top;}
.popup_overlay_close {position:fixed; left:0; top:0; width:100%; height:100%;}
.bubble {position:relative; margin:20px auto; max-width:600px; min-width:300px; padding:0 10px;}
.bubble_block {position:relative; background:#f2f2f2; border-radius:4px; padding:60px 10px 40px 10px;}
.bubble_close {position:absolute; right:15px; top:20px; cursor:pointer;}
.bubble_close:before {
  content: "\00d7";
  display: block;
  font-weight: bold;
  line-height: 1;
  font-size: 30px;
  color: #000;
}

.popup_opened {display:block;}

/*send_link*/
/* .send_link {}
.send_link_title {text-align:center; font-size:28px; line-height:1;}
.send_link_text {padding:10px 0; font-size:16px;}
.send_link_text_cell {display:table-cell; width:600px; height:60px; vertical-align:middle; text-align:center;}
.send_link_fields {}
.send_link_field {padding:0 0 10px 0;}
.send_link_type_text {display:block; width:100%; border:1px solid #fff; background:#fff; font-size:21px; height:54px; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.send_link_field_error .send_link_type_text {border-color:#ff0000;}
.send_link_submit {}
.send_link_submit button {display:block; position:relative; background:#009fb7; border:none; cursor:pointer; border-radius:4px; padding:15px; width:100%; text-align:center; color:#fefefe; font-size:21px; line-height:1;}
.send_link_submit button:hover {background:#1895ab;}
.send_link_submit button:active {background:#19a1b9;}

.send_link_submit button[disabled] {opacity:0.5; cursor:not-allowed; background:#009fb7 !important;} */

/*comparsion*/
.c_top {background:#f2f2f2; border-bottom:1px solid #d8d8d8; padding:30px 0; text-align:center;}
.c_top_title {font-size:40px; padding:0 0 30px 0; min-height:1px; font-weight:normal; line-height:1;}
.c_top_desc {font-size:16px;}
.c_top_action {padding:30px 0 0 0;}

.c_features {padding:30px 0;}
.c_f_main_title {font-size:24px; padding:0 0 15px 0; min-height:1px; font-weight:normal; line-height:1; text-align:center;}
.c_features_inner {border-bottom:1px solid #d8d8d8; padding:0 0 15px 0;}
.c_f {padding:15px 0;}
.c_f_title {font-size:18px; padding:0 0 10px 0; font-weight:normal;}

.c_table {padding:30px 0;}
.c_table_main_title {font-size:24px; padding:0 0 30px 0; min-height:1px; font-weight:normal; line-height:1; text-align:center;}
.ct {}
.ct_row {border-bottom:1px solid #d8d8d8;}
.ct_row:hover {background:#f2f2f2;}
.ct_column {}
.ct_column_main {padding:15px;}
.ct_column_secondary {padding:15px; width:18%; text-align:center; font-size:20px; font-weight:bold; font-weight:normal;}
.ct_desc {}
.ct_desc_title {font-weight:normal; font-size:18px; padding:0 0 10px 0; color:#00a0b7;}
.ct_mark {font-size:14px;}
.ct_mark_text {padding:0 10px 0 0; display:none; font-size:16px;}
.ct_mark_true {display:block; width:26px; height:21px; background:url(../images/true.png) no-repeat 0px 0px;}
.ct_mark_false {font-size:26px; font-weight:bold; color:#a70000;}

.c_try {background:#f2f2f2; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; padding:30px 0; text-align:center;}

.c_links {padding:30px 0;}
.c_link_set {text-align:center; font-size:20px;}
.c_link_item {padding:5px;}


/*crypt*/
.crypt_page {background: #fff;}
.crypt_page .site_footer_divider {
	display:block;
	position: relative;
	top: auto;
}
/*.crypt_page .wrap_it_all {min-height: 1px; height: auto;}*/
.crypt_text .c_top_desc {
	text-align: left;
	padding: 0 20px 0 0;
}
.crypt_img {
	width: 250px;
}
.crypt_img img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	overflow: hidden;
}
@media only screen and (max-width: 768px) {
	.crypt_text .c_top_desc {
		padding: 0 0 20px 0;
	}
}


/*slack*/
.slack_browse_holder {
  padding: 0 0 64px 0;
}
.slack_browse {
  background: url(../images/slack/slack-bg.png) no-repeat 0px 0px #8949a4;
  background-size: cover;
  position: relative;
  height: 570px;
  width: 100%;
  min-width: 990px;
}
.slack_browse_content {
  background:url(../images/slack/slack.png) no-repeat top center;
  position: absolute;
  width: 100%;
  bottom: -64px;
  height: 554px;
  box-sizing: border-box;
  padding: 250px 0 0 0;
}
.slack_browse_content .wrapper {
  max-width: 1096px;
}
.slack_browse_article {
  text-align: center;
  width: 744px;
  margin: 0 7px 0 0;
}
.slack_browse_title {
  font-size: 32px;
  font-weight: 600;
  padding: 0 0 10px 0;
}
.slack_browse_article p {
  padding: 0 0 40px 0;
}
.slack_browse_action {
  font-size: 0;
}

/*slack_action_button*/
/* .slack_action_button {
  display: inline-block;
  font-size: 20px;
  border-radius: 22px;
  background: #8949a4;
  box-shadow: 0 0 40px rgba(0,0,0, 0.06);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
} */
/* .slack_action_button .slack_action_button_content {
  height: 46px;
  line-height: 46px;
  padding: 0 42px;
} */
/* .slack_action_button_icon {
  width: 22px;
  height: 22px;
} */
/* .slack_action_button_icon_google {
  background: url(../images/slack/slack-icon-google.png) no-repeat 0px 0px;
}
.slack_action_button_icon_nsc {
  background: url(../images/slack/nsc-small.png) no-repeat 0px 0px;
}

.slack_action_button:hover,
.slack_action_button:active {
  background: #a15dbd;
}

.slack_action_button_primary {
  background: #359fb7;
}
.slack_action_button_primary:hover,
.slack_action_button_primary:active {
  background: #42afd2;
}

.slack_action_button_iconed .slack_action_button_content {
  padding: 0 12px;
}
.slack_action_button_iconed .slack_action_button_content .slack_action_button_icon,
.slack_action_button_iconed .slack_action_button_content .slack_action_button_text {
  margin: 0 10px;
}
.slack_action_button_iconed .slack_action_button_content .slack_action_button_icon_google {
  margin-left: 0;
} */

/*slack_features*/
.slack_features {
  padding: 50px 0 100px 0;
  color: #2c3339;
}
.slack_features .wrapper {
  max-width: 1060px;
}
.slack_features_title {
  text-align: center;
  font-size: 44px;
  font-weight: normal;
  line-height: 1;
  padding: 0 0 80px 0;
}
.slack_feature {
  width:33.3% !important;
	min-width:33.3% !important;
	max-width:33.3% !important;
	-webkit-flex: 1 1 33.3% !important;
  text-align: center;
  padding: 0 10px;
  margin: 0 0 60px 0;
  font-size: 16px;
  line-height: 1.2;
}
.slack_feature_img {
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 0;
  text-align: center;
  margin: 0 auto 20px;
}
.slack_feature_img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.slack_feature_title {
  font-weight: 600;
  font-size: 22px;
  padding: 0 0 5px 0;
}
.slack_features_action {
  text-align: center;
}

/*
@media only screen and (max-width: 1100px) {
  .slack_browse_content {
    background-position: top right;
  }
}

@media only screen and (max-width: 1024px) {
 .slack_feature {
    width:49.9% !important;
    min-width:49.9% !important;
    max-width:49.9% !important;
    -webkit-flex: 1 1 49.9% !important;
  }
}

@media only screen and (max-width: 768px) {
  .slack_browse_holder {
    padding: 0;
  }
  .slack_browse {
    height: auto;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .slack_browse_content {
    background: #fff;
    padding: 15px;
    position: relative;
    bottom: auto;
    height: auto;
  }
  .slack_browse_content .wrapper {
    padding: 0;
    min-width: 1px;
  }
  .slack_browse_article {
    text-align: center;
    width: 100%;
    margin: 0;
  }

 .slack_feature {
    width:100% !important;
    min-width:100% !important;
    max-width:100% !important;
    -webkit-flex: 1 1 100% !important;
  }
}
*/

@media only screen and (max-width: 1100px) {
  .slack_browse_content {
    background-position: top right;
  }
}


/*nsc browse*/
.nsc_browse {
  position: relative;
  min-height: 570px;
}
.nsc_browse_bg {
  background: url(../images/slack/slack-bg.png) no-repeat 0px 0px #8949a4;
  background-size: cover;
  height: 570px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 990px;
}
.nsc_browse_content {
  position: relative;
  z-index: 5;
}
.nsc_browse_article {
  padding: 60px 0 30px 0;
  text-align: center;
  color: #fff;
}
.nsc_browse_logo {
  background: url(../images/slack/nsc-big.png) no-repeat 0px 0px;
  width: 60px;
  height: 60px;
  margin: 0 auto 30px;
}
.nsc_browse_article {
  font-size: 26px;
}
.nsc_browse_title {
  line-height: 1.2;
  font-weight: 600;
  font-size: 40px;
  padding: 0 0 10px 0;
}
.nsc_browse_article p {
  padding:0 0 40px 0;
}

.nsc_screen {
  width: 1024px;
  height: 986px;
  margin: 0 auto 30px;
  position: relative;
  background: url(../images/slack/nsc-screen.png) no-repeat top center;
}
.nsc_tip {
  position: absolute;
}
.nsc_tip_comment {
  height: 70px;
  line-height: 70px;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0,0,0, 0.2);
  background: #1aabc6;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  font-size: 28px;
  font-weight: 600;
  padding: 0 30px;
  z-index: 2;
}
.nsc_tip_corner {
  position: absolute;
  width: 32px;
  height: 39px;
  right: 32px;
  background: url(../images/slack/corner-top.png) no-repeat 0px 0px;
}
.nsc_tip_top .nsc_tip_corner {top: -25px;}
.nsc_tip_bot .nsc_tip_corner {
  top: auto;
  bottom: -25px;
  background: url(../images/slack/corner-bot.png) no-repeat 0px 0px;
}

.nsc_tip_1 {right: 274px; top: 234px;}
.nsc_tip_2 {right: 0; top: 540px;}
.nsc_tip_2 .nsc_tip_corner {right: 114px;}
.nsc_tip_3 {left: 0; top: 698px;}

.nsc_action {text-align: center; padding: 0 0 60px 0;}