.form {
  border: 1px solid #027b8e;
  border-radius: 0px;
}

.form .form_wrapper {
  background: #fff;
}

.form_button span {
  background-color: #359fb7;
  box-shadow: none;
  border: none;
  color: #fff;
}

.form_logo {
  background: url("../images/logo_yotalk.png") no-repeat;
  background-position: bottom center;
}